[2020-05-19 11:37] marcschier commented on #469
Hi @gillermaney, we see this during our load testing when the IoT Hub messaging quota is exceeded (for the day).   Could you check in your deployed IoT Hub whether you have reached your message limits and if so upgrade your Hub to an S2.   We are working on making the UX show this error rather than the cryptic message you are seeing.

[2020-05-19 11:41] cristipogacean commented on #470
@gillermaney, can you please detail a bit your statement? for example what are the "seen values" and "expected value"? please note all timestamps in the platform are UTC format.

[2020-05-19 12:53] jleger-ptc opened #474 "OPC Twin semaphore disposed exception upon endpoint reactivation"
**Describe the bug**
Using the latest "preview" (2.7.72) OPC Twin edge module, I observed a System.ObjectDisposedException when trying to reactivate an endpoint using Postman

**To Reproduce**
Steps to reproduce the behavior:
1. Add an application via Postman
    * https://{{OPC-SERVICEURL}}/registry/v2/applications
2. Retrieve the endpoint (registration) id via Postman
    * https://{{OPC-SERVICE

[2020-05-19 13:04] marcschier commented on #437
Hi, this should now be fixed.  I re-tagged latest as well as 2, and 2.6 as multi arch images.   Thanks for finding and reporting this issue:

[code]

[2020-05-19 13:04] #437 closed

[2020-05-19 13:40] gillermaney commented on #470
This error seems to occur when the IoT Hub messaging quota is exceeded.  The expected timestamp values are strictly periodic.  The seen timestamp values are "bursty" and seem to reflect the time that telemetry reaches the data lake and not the OPC UA source timestamp.

[2020-05-19 14:02] dacolgit commented on #388
Closed as not reproducible with latest preview

[2020-05-19 17:32] marcschier commented on #474
#468 fixes this issue.

[2020-05-20 09:08] #474 closed

[2020-05-20 12:37] marcschier commented on #370
The publisher now also attempty to use the alternative addresses identified by the Discovery module during discovery to establish a session.  If the twin can access the server, the publisher should now also.  Closing this issue, please re-open if publisher 2.7.75+ does not fix it.

[2020-05-20 12:37] #370 closed

[2020-05-20 12:39] marcschier commented on #469
Moving to 2.8 milestone.   If this is not due to quota exceeded, please let us know.

[2020-05-20 13:27] marcschier commented on #373
I have tested apps add -u on master branch (2.7.76) and was able to register and remove ok.   The issue seen here seems to be related to the setup of the gateway is my hunch as the discovery provided a single result and uploaded it, the processing of it failed however as no application is showing up.   The latter issue has been due to the gateway running the discovery workload not being registered

[2020-05-21 15:30] cstamper-ptc opened #480 "Unable to add application by generated discovery URL"
**Describe the bug**
Making a `Get Applications` request returns an item with a generated `discoveryUrl` such as below. Previously, the discovery url that was used to register the application was listed, but it seems that has changed and now only the generated url exists.

<img width="536" alt="Screen Shot 2020-05-21 at 11 22 10 AM" src="https://user-images.githubusercontent.com/63324157/82574644-

[2020-05-22 05:41] marcschier commented on #480
Hi @cstamper-ptc , the discovery url reported is what is returned by the GetEndpoint response and thus by the server.  This has always been the case, I.e you can specify a different host name during discovery request but we will always return the truth from the server, and in addition alternative ip to access the endpoint and thus also the discovery url if you wanted to.

I assume it is a TKE?  If

[2020-05-22 05:44] #480 closed

[2020-05-22 08:47] Bartor opened #482 "Twin not connecting to OPC UA server after upgrading"
We had the stack deployed in the beginning of march using the deployment script provided in the repository, but the deployment stopped working abruptly last weekend. The microservices couldn't start, with the exception stating:
[code]
which was surprising for us, as we haven't changed anything. We decided to redeploy it using the latest version of the repository and the deployment script. The micr

[2020-05-22 11:52] marcschier commented on #482
Hi @Bartor, thanks for submitting this issue.

Regarding the first issue, in 2.7.x we moved to managed service identity to access KeyVault instead of a SP + known password. Managed service identity (MIS) is a resource that must be deployed and as such you will unfortunately also need to re-run the deployment script on top of an existing deployment so that the Azure resources are "adjusted".   As w

[2020-05-25 10:13] Bartor commented on #482
Hello,
sorry for replying so late, was out of office for the weekend. Anyway, unfortunately redeploying using the script on the existing resource groups yields multiple new errors and as an inexperienced Azure user I'm not quite able to resolve all of them well, and that's probably not a case to discuss here.

Regarding the second issue; I've checked the Twin service with `docker inspect` and `Con

[2020-05-26 13:05] omarine commented on #350
Hello,i juste tested the HeartbeatInterval from the master Branch but it seems not to be working

anyone have tested it since ?

[2020-05-26 13:10] cristipogacean commented on #350
Hello @omarine, should be working in preview. What version did you use for testing?

[2020-05-26 13:25] omarine commented on #350
Hello @cristipogacean ,

My test was based on the master Branch
Should i base my tests on the lasted tagged version rather?

Thanks

[2020-05-26 13:37] cristipogacean commented on #350
No, please continue to use the :preview tag for the image. We would appreciate some details on your configuration.

[2020-05-26 13:43] omarine commented on #350
I actually run the opcpublisher locally ,because i have to add a feature for my client

But i can test the preview just in case.

[2020-05-26 14:04] omarine commented on #350
what is the latest stable branch i have to chose to base my modifications upon  please?

[2020-05-28 12:07] Bartor commented on #482
Hi once again,
we've tackled the problem with another approach. It seems that the Twin module had problem actually connecting to the server because of networking issues. We connected our OPC UA server with the Edge Module in the same Docker network and it seems to work fine now.

[2020-05-28 12:07] #482 closed

[2020-05-28 13:18] marcschier commented on #482
Thanks for the update @Bartor!

[2020-05-29 14:22] gillermaney opened #512 "Telemetry data not received by IoT Hub"
The tutorial page at: https://azure.github.io/Industrial-IoT/tutorials/tut-publish-data.html
Includes the text below.  Besides the text being a bit off, after performing these steps, telemetry data is not being received by IoT Hub

Next steps
Once the configuration ofr the published data is done, the endpoints may be disconnected from the engineering tool. Please not though that endpoints need to

[2020-05-29 14:26] saurabhsadhu opened #513 "Cap on Messages sent to IoT Hub in OPC Publisher"
I am using the OPC Publisher module available at Azure Marketplace. I am connecting this module to KepServerEx which is configured to generate data on 10,000  nodes per second. So I should
be getting 10,000 messages per second on the OPC Publisher. The publisher gets approximately 10,000 messages/second but it doesn't send more than 600-700 messages/second to the IoT Edge route defined. Is there a

[2020-05-29 14:28] gillermaney commented on #470
What information do you need besides what I have provided?  Why would timestamps be incorrect if the telemetry data is being delayed in IoT Hub?

[2020-05-30 09:24] marcschier commented on #513
Samples != messages.   Messages are packets sent to IoTHub containing multiple Samples.

[2020-05-31 04:39] toddysm opened #515 "How to use the Publisher API to configure the OPC Publisher module?"
**Describe the bug**
The documentation states the following:

However, there is no explanation of how to use the Publisher API. So, if we want to use the Publisher API for the configuration of the publisher, how one does that. And, by the way - where is the publisher API - it is not shown on the architectural diagram

[2020-06-01 04:26] saurabhsadhu commented on #513
But there is no such thing as Samples mentioned in the logs. Can you please explain what is Messages invoked on trigger, Messages sent to IoT Hub and SinkBlock input count?

[2020-06-01 05:16] payalgaikwad42 opened #516 "Not able to get configuration from KeyVault to run micro-services locally"
Hi,
I want to deploy the Micro-services locally on my machine. I am using following documentation given in this repository -
These documentation gives me steps to deploy minimum azure resources required to run micro-services locally. I have all the required azure resources running on my azure portal using following documentation -
https://github.com/Azure/Industrial-IoT/blob/master/docs/deploy/how

[2020-06-01 05:18] toddysm opened #517 "OPC Publisher continuously restarts after an error"
**Describe the bug**
We see the OPC Publisher module continuously restarting with the following message in the logs:
[code]
Particularly the issue seems to be with the following cast error:
[code]

This is related to the container configuration, however looking at the code only it is not clear that the issue is. Here is the Container Create Options that are set for the module in Azure Portal:
[cod

[2020-06-01 19:30] saurabhsadhu commented on #513
I want a solution similar to the issue - [Throughput issues](https://github.com/Azure/azure-iot-sdk-java/issues/739).
The solution in this issue is for DeviceClient , is there something similar for ModuleClient?

[2020-06-02 10:30] marcschier commented on #516
Did you run `az login` as described in the doc?   You can also use Azure Service Connections in the Visual Studio Options, if you have issues there, try "re-adding" your account as this seems to fix stale tokens for us.

[2020-06-02 10:33] marcschier commented on #513
Messages invoked == monitored item messages received through opc ua client publish service set.  Messages sent to IoT Hub == IoT hub messages containing multiple aforementioned "messages" (which I called samples as they are typically sampled but not always)

[2020-06-02 21:05] toddysm commented on #517
@marcschier Thank you for your offline help. I did two things:
1. Tried to remove the `site` setting as you suggested but the `latest/2.6.146` continued to fail with the same error
2. Getting the latest version `2.7.107` solved the above issue but it seems it is not pulling any  data from the OPC server

Here are the logs when the module starts:
[code]

It seems that the module starts and reads th

[2020-06-03 06:44] marcschier commented on #512
We are working to add better diagnostics in milestone 2.8 so we can understand what is happening.   In the meantime, the version of the engineering tool (displayed in the UX) would be very helpful for us to try and reproduce.

[2020-06-03 13:09] saurabhsadhu commented on #513
Okay so what is meant by Sinkblock input count ?
Also I am receiving only 100 messages each second on my receivng module, even though I see that OPCPublisher is sending 600 messages per second. How can improve the performance?

[2020-06-03 13:40] gillermaney commented on #512
Using the canned deployment script unchanged and deploying to a variety of regions, the "device to cloud messages" displayed on the bottom of the IoT Hub page shows spikes every 6 hours, but no messages between spikes.  There are 5 variables being published at either 1 or 5 second intervals according to the engineering tool.  The height of each spike is about 35 messages.  Device twin operations c

[2020-06-03 14:27] cristipogacean commented on #517
Can you try removing the '--appcertstoretype=X509Store' from your configuration. I think this setting is only working on a windows based host system. The default is for the AppCertStoreType is Directory

[2020-06-03 14:40] cristipogacean commented on #513
Would it be an option for you to enable batching mechanism of the publisher? this way the publisher is packing multiple the OPC samples in a single iot hub message as an array so the throughput will be optimized. The drawback is that you need to parse the batched array at the receiver side.
The parameters are :
--bs ='number of data-changes to be awaited for batching'
--di= 'trigger batching inter

[2020-06-03 15:50] toddysm commented on #517
@cristipogacean I tried that but it doesn't seem to work. I increased the debug level and here is the output:
[code]

So, it seems that the publisher cannot connect to the OPC server. We checked the server and we are also able to connect to it using UA Expert. Also, the Publisher container is able to ping the IP address. So, right now we are stuck with figuring out this connectivity issue and why

[2020-06-03 17:08] cristipogacean commented on #470
@gillermaney can you try the most recent preview version? we did fix some connectivity issues on the publisher lately and those issues might have caused the situation you experience with TSI.

[2020-06-03 18:36] gillermaney commented on #512
I am using the simulators that are deployed as part of the canned deployment script.

[2020-06-03 19:24] toddysm commented on #517
@cristipogacean We tried all of those. There are no firewalls between the host and the OPC server. We even did a telnet on the port 4840 from within the container and telnet can connect to the IP address on that port. We also restarted the server, which should disconnect the sessions.

One of the issues we used to have in the past is the security because the server uses self signed cert. Hence, we

[2020-06-03 21:08] cristipogacean commented on #517
Does the server have an endpoint that allows security policy none? using security policy none, the app certificates are disregarded.
What kind of server is this? any chance to look into the logs of the server?

[2020-06-03 21:16] cristipogacean commented on #512
you can try to restart the simulation VMs. if that does not help, please send us the publisher logs

[2020-06-03 22:05] gillermaney commented on #512
I have reset the VMs in the past and that didn't work.  Can you see the publisher logs in Application Insights?  If so, what is the path to get there?  Here is a reoccurring error from Application Insight Exceptions:

6/3/2020, 6:57:02.405 PM | Microsoft.Azure.EventHubs.ReceiverDisconnectedException at Microsoft.Azure.EventHubs.Amqp.AmqpPartitionReceiver+<OnReceiveAsync>d__13.MoveNext | Microsoft.

[2020-06-03 22:18] gillermaney commented on #512
Connecting log analytics to the gateway and simulator VMs works, but what is the path to the publisher log data using this tool?  I don't see the publisher module in the list of kusto tables.  Do I need to use SSH to log into the IoT Gateway?  If so, how do I find the public IP address of the IoT Gateway?  Would it be possible to add a short write up about using SSH to log into the VMs if this is

[2020-06-04 00:43] toddysm commented on #517
@cristipogacean Would you mind explaining what this means: __using security policy none, the app certificates are disregarded__?
The OPC server is a proprietary device from a German manufacturer Rittal. When we connect to the server via UA Expert, there are several messages that show up that are related to (we assume) how the protocol is implemented and how the device is configured.

Here the sequ

[2020-06-04 03:51] toddysm commented on #517
Just FYI, the connectivity to the server works from within the container. Here are all the tests we did:
[code]
We don't think this is a connectivity issue but an issue how the Publisher tries to connect to the OPC server.

To answer your question about the server logs, the manufacturer doesn't expose those and we have no way to look at the device logs.

[2020-06-04 07:37] marcschier commented on #516
Please reopen if this was not the issue.

[2020-06-04 07:37] #516 closed

[2020-06-04 08:04] cristipogacean commented on #517
@toddysm thanks for the details! I might now have an idea what's going wrong.
Apparently the server uses it's hostname when responding to the GetEndpoints service call from the publisher. then the publisher is trying to connect using the hostname instead of the ip address. This is probably not properly resolved by the DNS in the container's context and we have the network timeout ... The UA expert

[2020-06-04 14:27] gillermaney opened #528 "OPC UA variable Display name incorrect"
The telemetry data stream from the publisher has a value called Display name, but this display name is set to the node id of the variable and not the display name of the variable.  This bug was seen using the off the shelf deployment script using the built in VMs.

[2020-06-04 14:32] gillermaney opened #529 "Missing model.json and parquet files in datalake"
Using the preconfigured deployment script a container called Powerbi is created as well as a folder called iotdataflow folder.  However while config.json is there, model.json is not as well as any parquet files.

It is not known if this issue is related to known issues with TSI.

[2020-06-04 14:40] cristipogacean commented on #528
you can provide your display name in the api or enable the publisher to fetch the display names using --fm=true argument

[2020-06-04 14:54] cristipogacean commented on #528
right, we should disable that field by default since it is not part of the pubsub stream anyhow.

[2020-06-04 15:21] cristipogacean commented on #529
That's a known issue, we're working on it. It helps if you restart the services-all App Service in the Azure deployment.

[2020-06-04 15:43] cristipogacean commented on #517
hi @toddysm, I'm running out of ideas. Can you share more logs, or sync for a remote debugging session?

[2020-06-04 22:00] toddysm commented on #517
@cristipogacean We don't know what the problem was but after several (in the number of 10s if not 100s) restarts of the container and the OPC server, the things connected. We are totally puzzled for the reason why is this happening. I think we can close this but the root cause is unclear.

One suggestion if you have any influence into the Opc.Ua libraries - the logging there seems to be not very d

[2020-06-04 22:38] toddysm commented on #517
@cristipogacean I did speak too soon though. Here is the situation:
We managed to get this working with v 2.5.3 but switching to 2.7.107 breaks the container and it start cycling continuously and we cannot get logs out of it. The configuration is exactly the same, the only thing we changed was the container tag from 2.5.3 -> 2.7.107.

[2020-06-04 23:04] cristipogacean commented on #517
Good to see you're unlocked! and thanks for the feedback. There is no caching or something similar in the modules.
Can you please share the configuration? there are some changes in the arguments and some were obsoleted in 2.7.
If the config is same as above can you try removing the following:
    "--appcertstoretype=X509Store"
maybe you can also add:
     "--PkiRootPath=/appdata/pki"  this will se

[2020-06-05 11:30] saurabhsadhu commented on #513
I set the batch size to 100 but I am still getting only one message and not an array. And according to the documentation, --di is the diagnostic interval and not batching interval.

[2020-06-05 11:35] cristipogacean commented on #513
sorry, my mistake, I meant --si, not --di

[2020-06-05 12:03] saurabhsadhu commented on #513
I am running Publisher with the following configuration:
[code]
And I am getting this output:
[12:01:17 INF]
   DIAGNOSTICS INFORMATION
   =======================
   # Messages invoked by the message trigger: 782390
   # Messages Sent to IoT Hub: 46841
   # Number of connection retries since last error: 0
   # EncodingBlock input/output count: 0/0
   # BatchBlock output count: 0
   # SinkBlock inp

[2020-06-05 12:38] cristipogacean commented on #513
which version are you using ? the batching was only implemented starting with 2.7.105 version. Can you try out either 2.7.105, or the :preview tag?

[2020-06-05 13:14] ahmcalpine opened #535 "Misleading license information?"
Although most of the code in this repository is released under the MIT license, two crucial files are released under other, less permissive licenses that affect how the code may be used.

The files are [JsonDecoderEx.cs](https://github.com/Azure/Industrial-IoT/blob/dd6e4f8/components/opc-ua/src/Microsoft.Azure.IIoT.OpcUa.Protocol/src/Stack/Encoders/JsonDecoderEx.cs) and [JsonEncoderEx.cs](https://

[2020-06-05 13:47] gillermaney opened #536 "Publisher stops shortly after starting"
The latest version of the precanned deployment script seems to have an issue with the publisher.  It stops after a very short amount of time.  Here is the publisher log.  What other logs do you need?

[OpcPublisherLog.txt](https://github.com/Azure/Industrial-IoT/files/4736432/OpcPublisherLog.txt)

[2020-06-05 14:54] marcschier commented on #535
The project is licensed as MIT including all derivatives e.g. containers and nugets built from it.

The header in this case is wrong.   This code also falls under MIT license of the project.  This will be fixed.

However, please be aware of the licenses of all dependencies, as specified in the thirdpartylicense.txt file in the root of the repo.

[2020-06-05 17:02] mandar-opc opened #537 "OPC UA Publisher Module To Module communication"
**Azure IoT Edge On-Premise**
We are using OPC UA Publisher module to receive data from KerServer Simulator.The module is currently receiving 6K messages per second.
These messages are then route to another module(Data Ingestion) developed in Node JS.
The problem we are facing is Data Ingestion module is receiving only 500 messages/sec.We are expecting that it should receive 6K messages per second

[2020-06-08 05:27] toddysm commented on #517
Hi @cristipogacean, we already tried removing the
[code]
but it didn't help. Adding
[code]
didn't help either - the container fails at start and continues restarting.

[2020-06-08 06:30] henioStraszny opened #541 "OPCTwin exception - unable to discover OPC UA server"
**Describe the bug**
I'm unable to connect Kepware OPC Server. Each time I turn on discovery (scanner) in Connected Factory App (section browser) OPCTwin module reports UnauthorizedException.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Connected Factory - solution`
2. Click on `Browse`
3. Set `Scan On` for tested IoTEdge device.
4. Execute: `iotedge logs device`

**Expected behavi

[2020-06-08 11:43] omarine commented on #350
Hello,

Any updates on the Heartbeat ,i am launching opcpublisher as a standalone from visualstudio, just tasted from the master branch but still not working

my pn.json looks like below

![image](https://user-images.githubusercontent.com/13197345/84026378-8419fd00-a98d-11ea-915c-61e33d743f33.png)

![image](https://user-images.githubusercontent.com/13197345/84026630-f38fec80-a98d-11ea-8b9a-cb1bb96

[2020-06-08 12:03] cristipogacean commented on #350
The preview is aligned to master branch. Heartbeat should work fine in the master.
Your publishing interval configured is a bit big in this case. Heartbeat interval should be multiple of publishing interval. Can you tune publishing interval to 1 sec or so?

[2020-06-08 13:04] omarine commented on #350
not working even with publishing interval to 1000 and heartbeatinterval to 5 sec,i have only changing values :(

I did the test with constant values as well,i should have the same values sent upstream with different timestamp ,but it's not the case

[2020-06-08 13:20] gillermaney opened #546 "Custom UA endpoint config gets overwritten"
To add a custom server to the canned deployment, we edited the container configuration (inside IoT Edge-Set modules) so that the new config is fetched from the customized publisher node json file. Soon after the docker image for the publisher is executed in the iot edge runtime, the custom config was overwritten to the default (empty). It seems that a webapp hosted as part of the deployment script

[2020-06-08 13:23] jleger-ptc commented on #541
If you open up the [OPC UA Configuration Manager](https://www.kepware.com/getattachment/de80e240-765e-451a-afce-640d413891c3/opc-ua-configuration-manager-manual.pdf) for the Kepware server, can you confirm that the OPC Twin client certificate is trusted?

Client certificates are not auto-accepted by default, so you will need to grant it yourself.

Similarly, if/when you attempt to wire telemetry u

[2020-06-08 13:46] henioStraszny commented on #541
And how can I export this certificate so then later I can register it on
OPC server?

pon., 8 cze 2020, 15:23 użytkownik Joshua Leger <notifications@github.com>
napisał:

[2020-06-08 14:02] jleger-ptc commented on #541
I believe the [guidance from the IIoT team](https://github.com/Azure/Industrial-IoT/issues/377#issuecomment-622984338) is to generate your own certificate and mount them into the Twin/Publisher containers.

Without provisioning the cert yourself, if/when the container is redeployed (upgrade, etc), a new self signed certificate will be generated on startup and you will need to go through this manua

[2020-06-08 15:45] cristipogacean commented on #350
The heartbeat is basically replicating the last received datachange received from the server, so the value,, it's source timestamp and server timestamp are not being changed when heartbeat message is forced up. The publisher will not change these values since they are set by the server. The timestamp field in the message body will be nevertheless updated with the publisher's time. like in the exam

[2020-06-09 10:52] saurabhsadhu commented on #513
I tried linux-amd64 tag and it's sending batched messages without --bs. I am just using --si and --ms. This solves my issue.
Thanks.

[2020-06-09 10:52] #513 closed

[2020-06-10 06:42] henioStraszny commented on #541
Thanks, for your response, I was trying to feed in the certificate, I've setup the mounted directory however it looks like OPC-Twin ignores that certificate, do you know what should be directory structure so application would be able to properly use certificate?

[2020-06-10 09:33] marcschier commented on #546
Hi @gillermaney, This is correct - when deploying a Industrial IoT Edge gateway you have the option to have the modules on it managed by the cloud platform or optionally (but not recommended) manage the edge and module workloads on it yourself.

To do the latter, the IoTEdge device twin must have a "unmanaged" property as described here: https://github.com/Azure/Industrial-IoT/blob/master/docs/dep

[2020-06-10 09:33] #546 closed

[2020-06-10 10:39] marcschier commented on #537
Your configuration sets the batch size to 100 and batch triggering to 5 seconds, each message would then container around 100 values or whatever was collected in 5 seconds.   Try setting as 1 and omit --si and it should be what you are expecting.

[2020-06-10 10:39] #537 closed

[2020-06-10 14:09] gillermaney opened #550 "Node Id value not showing up in telemetry data stream"
When using the canned deployment script and a custom UA server, the telemetery data stream does not have node id values or display names.  Setting fn to true or false doesn't help.  Instead Node Id values seem to be set to data type values and display name not conveyed.  When using an off the shelf OPC UA client, the UA server address space has good display names, browse names and node ids. We are

[2020-06-10 17:44] jleger-ptc opened #551 "Root level deploy.cmd/deploy.sh scripts cannot be invoked with -version"
**Describe the bug**
Because the root level deployment scripts act as a pass-through to the `./deploy/scripts/deploy.ps1` file and hard code "**-version preview**", end users are unable to leverage them if/when they would like to specify a specific version of the stack to deploy

deploy.sh

- Line 69: `pwsh -File $curdir/deploy/scripts/deploy.ps1 "$@" -version preview`

deploy.cmd

- Line 33: `%PW

[2020-06-10 18:05] rowenwu opened #552 "Deployment template validation failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. deploy.ps1 from command line
2. choose subscription (IOT-OPC-WALLS)
3. enter credentials
4. choose location (West-US)
5. Create new RG and application (both of the same name)
6. deployment starts and says "deploying..." for ~10 min
6. error arises saying deployment failed

[2020-06-10 18:07] jleger-ptc opened #553 "Allow for aad-register.ps1 invocation from a Service Principal context"
**Is your feature request related to a problem? Please describe.**
When trying to enable automated azure dependency deployment via the deploy.ps1 script, we realized that `aad-register.ps1` requires an interactive user when calling into the `Connect-AzureAD` cmdlet from the `New-ADApplications` function.

To leverage these scripts in a pipeline, we would like to use a Service Principal with certif

[2020-06-11 19:59] amccollough-ptc opened #554 "Published nodes cannot be removed after credentials change"
**Describe the bug**
Once published, a node subscription can only be removed by exactly matching the credentials used to start publishing the node to begin with. This includes cases where credentials are entered incorrectly. All nodes created with those credentials will be permanently 'stuck' unless the original credentials can be recovered.

**To Reproduce**
Steps to reproduce the behavior:
1. Us

[2020-06-12 13:41] amccollough-ptc commented on #554
I did some more testing and discovered some additional strange behavior.

If I start publishing a node with **invalid** user/password, then start publishing the any other node on that endpoint with **valid** user/password. The publisher module will produce an endless loop of errors in the log, and no subscription will be made to the UA Server for any of the valid nodes. I can go back and delete th

[2020-06-16 12:05] AndreasDpWD opened #559 "Is it possible to run the publisher as a standalone module?"
We want to run a small and scalable environment. But we only need the twin and publisher module to communicate with a robot.

With the legacy mode, we can configure the publisher on the machine with the modules, and the twin module is recovering a C2D method request for reading values.

So is it possible or what is the minimum amount of resources to run the publisher? Where is it documented? I can

[2020-06-16 18:41] cristipogacean commented on #528
fixed in 2.7.130

[2020-06-16 18:41] #528 closed

[2020-06-16 18:53] cristipogacean commented on #536
Can you please retry with version 2.7.130? I cannot replicate the issue now.

[2020-06-22 19:45] jlorich commented on #39
@hansgschossmann I see --ic is no longer available in the publisher 2.6 and above.  Is there a recommended alternative for getting data in a format that is compatible with DTDL (e.g. IoT Central)? This is going to be particularly problematic with the upcoming release of Azure Digital Twins.

[2020-06-24 06:10] marcschier commented on #559
We are currently planning a fully contained Edge hosting option for the entire platform.   Tentative for 3.0.

At this point, publisher can either be configured via publishednodes.json file or via the API (and thus CosmosDB).

[2020-06-24 06:53] marcschier commented on #554
The code removing or updating a node matches the credential in addition to the endpoint Url.   I will change it to only match the endpoint Url and also to remove not just the first, but *all* possible variables under the same endpoint url with the same node id.  This will support calling publish twice, whereby the second publish overrides the first ones credentials and publishing interval.

[2020-06-24 07:27] marcschier commented on #554
#573

[2020-06-24 07:36] marcschier commented on #552
Hi @rowenwu - can you try to do a git pull on your repo and try again?  I think you have an old arm template on your machine which then pulls from the tip of master which is incompatible.

[2020-06-24 07:39] marcschier commented on #536
Closing - please re-open if this still occurs on 2.7.130 or later.

[2020-06-24 07:39] #536 closed

[2020-06-24 08:49] Asthmatiker opened #574 "Disvocery after restarting a OPC UA Server causes new IoT Devices in the IoT Hub"
**Is your feature request related to a problem? Please describe.**
I have the following setup:
A server running a OPC UA server (running in docker container) and the Azure IoT Edge Modul.
The OPC UA server is running with a hardcoded IP and Port.
The OPC UA endpoint is activated and connected to Azure and everything is working fine.

When restarting the server, the OPC UA server will automatically

[2020-06-24 10:46] marcschier commented on #574
Hi @Asthmatiker - The application and endpoint identities (represented by the device Ids starting "uas"/"uac" and "uat") are created as follows:

- Application Id: "uas" or "uac" + Hash(<IoT Edge Device or Site Id>, <Application Type>, <Application Uri>)
- Endpoint Id: "uat" + Hash (<Application Id>, <Endpoint Url reported by GetEndpoint>, SecurityMode, SecurityPolicyString>

It is possible that t

[2020-06-24 23:09] rowenwu commented on #559
hi Andreas, I'm the PM helping to coordinate our roadmap, and I'd like to better understand your requirements so we can capture them and align them with our roadmap (potentially for 3.0, as Marc called out). If you would like to hop on a call to chat, send me an email at rowwu@microsoft.com

[2020-06-24 23:27] rowenwu commented on #464
Hi @ma3goul @PWSys, I'm a PM helping to coordinate the internal planning. Would you like to set up some time to chat so that we can capture your requirements and align it with our backlog? If so, feel free to email me at rowwu@microsoft.com.

[2020-06-24 23:45] rowenwu commented on #541
Hi @henioStraszny, I'm the PM working on the roadmap for the team. Would you like to schedule some time to chat so I can better understand your use case and make sure that our roadmap meets your requirements? If so, send me an email rowwu@microsoft.com

[2020-06-25 09:43] #551 closed

[2020-06-25 09:46] #554 closed

[2020-06-25 09:47] marcschier commented on #559
Duplicate: #464

[2020-06-25 10:53] monikavar commented on #551
Hi @jleger-ptc , thanks for reporting the issue. It has been fixed now.

[2020-06-25 17:38] #535 closed

[2020-06-26 20:00] rowenwu commented on #552
that worked! thanks Marc

[2020-06-26 20:00] #552 closed

[2020-06-29 11:52] pcameron-ptc opened #586 "Troubleshooting help for Job Orchestrator connectivity problems"
**Describe the bug**
We recently encountered a problem when deploying the Industrial IoT microservices to a "managed" AKS cluter. The problem turned out to be that the edge device hosting the publisher IP was not whitelisted, so that it could not communicate with the job scheduler endpoint.

Here is the publisher module log when the publisher is running at the "info" log level:
![publisher-ll-info

[2020-06-29 18:24] rowenwu commented on #47
Hi @andreasfedermann, I'm the PM managing our roadmap and backlog. Would you like to set up a call to discuss the use case and requirements you've mentioned? And we can discuss any further feature requests you may have. Send me an email  at rowwu@microsoft.com if you're interested. Would love to connect with you.

[2020-06-29 18:46] rowenwu commented on #38
Hi @mpostol,
Could you describe your use case so I can better understand what you're currently working on in OOI and OPC UA pubsub. Maybe it would make more sense to get on a call and discuss in depth. Feel free to reach out over email at rowwu@microsoft.com

[2020-06-29 18:50] rowenwu commented on #44
Hi @eoursel, I'm the PM on the team prioritizing our backlog, and I'd love to learn more about your request for Alarms/Events support and what you're looking to do with it. This sort of information helps us evaluate customer needs. Please reach out via email to rowwu@microsoft.com if you'd like to chat further.

[2020-06-29 18:52] rowenwu commented on #44
And @strandfelt, @dmakeranko-connyun, @boske001, @bewacontrol-renedivossen, since you've also shown interest in this feature, please do feel free to reach out as well! Send me a note at rowwu@microsoft.com

[2020-06-30 20:10] alonsors-809 opened #588 "Publisher sends double message"
Hi,
I am currently facing an issue with the opc publisher located on an IoT edge device that is sending data with almost the same timestamp. I am not sure if it is because I am using the version 2.5.1 (“mcr.microsoft.com/iotedge/opc-publisher:2.5.1”) or is the configuration of the node but it seems that if the value changes during the sampling or publishing intervals, the publisher get both values

[2020-06-30 20:18] cristipogacean commented on #588
Hi, would it be possible for you to try the preview (2.7.xxx) version and check if you see the same behavior?

[2020-06-30 20:27] alonsors-809 commented on #588
I will try upgrade the version, is there any version for windows (10 and server) that is recomended and stable enough for production?

[2020-06-30 20:32] cristipogacean commented on #588
We're close to release 2.7.x so preview is stable enough. the windows 10 is fully supported.

[2020-07-01 08:42] marcschier commented on #586
Thanks for opening @pcameron-ptc - we will address this with better warning/error in 2.8.

[2020-07-01 08:44] marcschier commented on #574
Would be great to see what the issue was here, but closing for now.   If the server properties were stable, and it wasn't the issue, please re-open.

[2020-07-01 08:44] #574 closed

[2020-07-01 20:12] mpostol opened #592 "UADP NetworkMessage syntax"
**Is your feature request related to a problem? Please describe.**

I need the definition of the Opc.Ua.PubSub.NetworkMessage syntax for the current implementation published on the master branch.

[2020-07-01 22:31] alonsors-809 commented on #588
I switch to version 2.7.7, then 2.7.1 and 2.7.0 but the publisher from a list of 10 nodes, it only sends one. On the logs it shows that the publisher identifys correctly all the nodes but just send data from the last node. Also, from that same node it sends several message with the same timestamp. I am testing on a windows server.

[2020-07-01 22:38] cristipogacean commented on #588
sorry for misleading note  I meant :preview tag respectively 2.7.161 tag.

[2020-07-02 05:12] BeameX opened #593 "Kubernetes version error when deploying.."
When trying the deploy the production ([kubernetes version](https://azure.github.io/Industrial-IoT/deploy/howto-deploy-aks.html)) to WestEurope region i get this error:

"statusMessage": "{\"code\":\"AgentPoolK8sVersionNotSupported\",\"message\":\"Version 1.15.7 is not supported in this region. Please use [az aks get-versions] command to get the supported version list in this region. For more info

[2020-07-02 11:04] cristipogacean commented on #592
Hi Mariusz,
You can find the Pub/Sub message encoding logic in this file: https://github.com/Azure/Industrial-IoT/blob/master/components/opc-ua/src/Microsoft.Azure.IIoT.OpcUa.Protocol/src/Stack/PubSub/NetworkMessage.cs
We don't have the schema documented since this implementation is rather specific to our solution and I believe it is not completely spec compliant. We are working right now on makin

[2020-07-02 11:32] mpostol commented on #592
Hi @cristipogacean,

Thanks for your answer. I know where it is, but my concern is if there is any compliant implementation you know. My implementation also needs to be upgraded mpostol/OPC-UA-OOI#208 and it looks similar to my implementation compliant with a draft proposal of the specification. Now I am working on a road map and priorities of work on my side so any information that I can use for

[2020-07-02 11:50] cristipogacean commented on #592
I believe our friends at Softing and Unified Automation have compliant implementations in their SDKs and trial/demo apps. I only briefly tested Softings PubSub in the .net toolkit. The issue with UADP is that there are a lot of flags and knobs to setup the messages and some require state-full decoding. It's pretty hard to test and support everything.

[2020-07-02 12:22] mpostol commented on #592
I have collected the results of my investigation [here](https://github.com/mpostol/OPC-UA-OOI/issues/208#issuecomment-608511722), I suppose no one is compliant.
The syntax defined by the spec is really very complex and the native language text-based. I have worked out a file that contains Augmented BNF definition](https://github.com/mpostol/OPC-UA-OOI/blob/master/Networking/SemanticData/MessageHan

[2020-07-02 15:33] alonsors-809 commented on #588
Hi,
I switched to version 2.7.161 and the monitored nodes are behaving the same as version 2.5.1 of the publisher (it is good to have a more updated stable version) but the node is now sending the node repeated with the **same** timestamp. So, I am suspecting it is something with the node configuration and I have a couple of questions:
1.	How does the HeartBeat is correctly configured?
2.	Does the

[2020-07-02 16:42] cristipogacean commented on #588
Hi,

I'm not sure what kind of values make sense for your use-case, so I will explain how this settings work and hopefully we can tune them together accordingly.

In OPC UA, the publishing mechanism is designed to save bandwidth so only the value changes are propagated from the server to the client(publisher in our case). On the monitored item creation the actual value is sent to the client, but a

[2020-07-03 10:15] karok2m commented on #593
Thank you for reporting this bug. I will upgrade Kubernetes version to `1.16.9` in #596.

[2020-07-03 15:36] alonsors-809 commented on #588
Hi,
Thanks for the explanation, it was useful to clarify some doubts I had. I have tested in two environments (one publisher in windows and the other one in linux) with the version 2.7.161 of the publisher. For windows I notice that for some reason it starts sending the telemetry after a couple of hours.

Then I notice that with this configuration:
        "OpcSamplingInterval":300000,
        "Op

[2020-07-03 18:04] karok2m commented on #593
@BeameX, code changes are merged into `master`. Can you please validate that it works fine for you ?

On a side note, you can find compiled binaries of `Microsoft.Azure.IIoT.Deployment` (`2.7.166` version) at the following links:
* [linux-x64](https://azureiiot.blob.core.windows.net/binaries/master/2.7.166/linux-x64/Microsoft.Azure.IIoT.Deployment)
* [osx-x64](https://azureiiot.blob.core.windows.n

[2020-07-06 18:59] mandar-opc opened #603 "Receive all Node values from OPC Server"
I am using an OPC UA Publisher to read nodes from OPC Server.

Sampling Interval is 300ms

I need to know is there any existing feature which will allow me to receive updated & not updated tags values.

[2020-07-07 08:01] cristipogacean commented on #603
The heartbeat mechanism of the publisher helps on publishing static or relatively static nodes. the heartbeat setting can be configured per node.

[2020-07-07 08:09] cristipogacean commented on #588
Hi,

can you please detail a bit the issue on windows server 2019? this is a totally abnormal situation. Do you use the publisher in standalone mode (using publishednodes.json config file) or orchestrated mode? could it be that there are connectivity issues between the host and the IoTHub?

On the described configuration, the timestamp difference of 3 minutes is strange as well. I will try to repl

[2020-07-07 09:31] saurabhsadhu opened #605 "Polling mechanism instead of PubSub in OPCPublisher"
**Problem**
I am trying to organize data coming through OPCpublisher according to timestamp. OPCPublisher works on PubSub model and hence it doesn't bring the data of nodes whose value have not been updated. For example if I have configured 100 nodes for OPCPublisher and all of them are sampled at 800ms interval. Now all nodes except 2 have changed their values at the next sampling interval. OPCPu

[2020-07-07 10:44] saurabhsadhu commented on #603
I am also trying to achieve this. Even if the node is generating data at a greater interval than sampling interval, I want to get the value of nodes at every sampling interval, even if they don't change. How should I configure heartbeat in pn.json to achieve this?

[2020-07-07 10:59] cristipogacean commented on #603
There are 2 options:
1) add the heartbeat interval to the node defined in the config file, E.g.
[code]

2) use --hb=30 command line argument for the publisher to specify the default heartbeat interval. This will apply the heartbeat for all nodes that have no heartbeat configured.

Note: that the heartbeat interval is in seconds while the sampling and publishing intervals are in milliseconds

[2020-07-07 11:50] cristipogacean commented on #605
Polling is not possible with the publisher. you can configure the heartbeat interval for the 2 static nodes.

[2020-07-07 12:55] cristipogacean commented on #605
I think that for your use-case the best option would be the using the key frame mechanism from the OPC UA PubSub. This feature is on roadmap.

[2020-07-07 14:27] saurabhsadhu commented on #603
Yes this is the exact feature I want. But can I set this heartbeat interval in milliseconds?

[2020-07-07 16:58] cristipogacean commented on #603
1. is not possible
2. is possible using --DefaultHeartbeatInterval=00:00:00.100 as argument or  DefaultHeartbeatInterval=00:00:00.100 as environment variable

[2020-07-07 18:23] saurabhsadhu commented on #603
Setting the DefaultHeartbeatInterval as argument or env variable doesn't seem to work. Do I need to use a specific version of OPCPublisher

[2020-07-07 20:48] cristipogacean commented on #603
yes, :2.7.167 or :preview tag

[2020-07-07 22:31] alonsors-809 commented on #588
Hi,

Do you use the publisher in standalone mode (using publishednodes.json config file) or orchestrated mode?
A/ standalone, I use a publishednodes.json config file

could it be that there are connectivity issues between the host and the IoTHub?
A/ seems difficult because the module of the publisher and the server are on the same machine.

Would you be able to share a sample of the configuration

[2020-07-08 05:44] saurabhsadhu commented on #603
It seems the latest tag is not able to connect to the OPC UA Server. I am getting the following warning and no messages. I am able to connect to the server using the `linux-amd64` tag. Am I missing something?

[code]

[2020-07-08 10:11] cristipogacean commented on #603
I cannot manage to replicate this issue, our setup works fine with :latest tag (2.7.170). Could you share some details on the setup?

[2020-07-08 19:20] #593 closed

[2020-07-09 05:04] saurabhsadhu commented on #603
I am using OPCPublisher as an IoTEdge module and following are the container create options:
[code]

I can connect to OPCUA server using "linux-amd64" tag of the OPCPublisher, but for tag 2.7.170, it's failing to create session with OPC UA. server. Following are the logs:
[code]

[2020-07-15 08:48] karok2m commented on #593
UPDATE: By [Release 2020-06-29](https://github.com/Azure/AKS/releases/tag/2020-06-29) of AKS Kubernetes versions <1.16.10 and <1.17.7 were removed due to severe bugs and security issues flagged upstream. Because of this `Microsoft.Azure.IIoT.Deployment` has been updated to use `1.16.10` version of Kubernetes.

Latest binaries, version `2.8.5`:

* [linux-x64](https://azureiiot.blob.core.windows.net

[2020-07-15 12:51] erlendp commented on #541
Getting exactly the same error here. I don't think it's due to a connection failure to the OPC UA server, as the same error occurs whether or not there is an OPC server on the network. The error mentions an incorrect secret as the cause of authentication failure, which I'm guessing relates to the connection between the micro-service and twin module. I can confirm that the device connection string

[2020-07-17 09:59] erlendp commented on #541
FYI - turns out the Connected Factory installer was installing old versions of the micro services. Once I switching these to match the OPC modules, everything started to work correctly.

[2020-07-17 15:43] terrymandin opened #623 "Cannot see TSI Environment"
**Describe the bug**
I have deployed the IIoT Platform, and have enabled some OPC UA endpoints to send data.  I see the data coming into the IoT Hub.  When I go to TSI I get a message that says "There are no environments available".

**To Reproduce**
Steps to reproduce the behavior:
1. Install the Industrial IoT Platform
2. Enable some OPC UA variables through the UI
3. Go to TSI in the portal
4.

[2020-07-17 20:09] cristipogacean commented on #623
I think you've missed assigning yourself data access rights. Please have a look here: https://github.com/Azure/Industrial-IoT/blob/master/docs/tutorials/tut-timeseriesinsights.md

[2020-07-21 06:44] nanowireUK opened #626 "TSI: Mismatch of Time Series ID Case"
**Describe the bug**
The Time Series ID Properties has a case mismatch with the data that is being sent from the publisher. This causes all data to appear under the 'null' entry in TSI.

In TSI the property is defined as `publisherId, dataSetWriterId, nodeId`

The data is arriving `PublisherId, DataSetWriterId, NodeId`

Additionally the Timestamp added to the Event Source `TimeStamp` does not exis

[2020-07-21 10:40] cristipogacean commented on #626
thank you for bring this up! for now the only solution is create a new TSI environment having the parameters you have correctly described above.

[2020-07-22 06:51] vslepakov opened #628 "Cannot sign in into Engineering Tool after a successful deployment"
**Describe the bug**
IIoT platform is successfully deployed using deploy.ps1. When trying to sign in into Engineering Tool I see this error:
![image](https://user-images.githubusercontent.com/1545509/88143920-5369ec00-cbf8-11ea-8ef9-debf4bfbaf3b.png)

[2020-07-22 19:38] mpostol opened #629 "Milestones management"
**Is your feature request related to a problem? Please describe.**

- 2.7 has been released so this Milestones shall be closed.
- 2.8 Due by August 31, 2020 - the date looks unreal?

Contributes to mpostol/OPC-UA-OOI#441

[2020-07-24 01:20] minettes opened #632 "Admin access required on internal subscription"
Hi there,
I deployed the industrial IOT platform onto my internal microsoft subscription. The deployment is successful, but when I launch the app it requests permissions to sign in and  read my profile.
![image](https://user-images.githubusercontent.com/29100721/88352955-db462680-cdaf-11ea-9ab3-348e24f1fad8.png)
If I accept I get an error saying that I need admin approval.
![image](https://user-im

[2020-07-24 06:43] Nsteel opened #633 "500 Error in the OPCTwin API when calling an OPC UA Method"
We deployed the Industrial IoT stack using the deployment script provided in the repository. We are using the OPC Twin REST API to call some methods of an OPC UA server that is implementing the [OPC UA companion specification for Machine Vision](https://opcfoundation.org/developer-tools/specifications-opc-ua-information-models/opc-unified-architecture-for-machine-vision/). To call those methods we

[2020-07-24 08:17] marcschier commented on #629
Thanks - closed 2.7 and adjusted 2.8 - we might release 2.8 earlier.

[2020-07-24 08:17] #629 closed

[2020-07-24 08:44] FMauroy commented on #605
Hi all,

we also had the same problem, and ended up modifying the code of publisher 2.5.3 as a temporary measure. Maybe not that temporary as the newer version of publisher doesn't support message shaping anymore, and this is something we rely heavily on...

So, what I changed is in OpcSession.cs, after the creation of a new OpcUaMonitoredItem, I add a filter of type DataChangeFilter, with a trigg

[2020-07-24 12:26] luiscantero commented on #628
Further information that I gathered:
* @vslepakov first generated the following aad.json file with this command: `./aad-register.ps1 -Name <AppName> -Output aad.json`
![image](https://user-images.githubusercontent.com/1353540/88390887-6d066180-cdb9-11ea-925a-8db0cb775305.png)
* After that he executed: `./deploy.ps1 -aadConfig aad.json`

[2020-07-24 20:55] luiscantero commented on #632
You need to follow the process in your organization to grant admin consent to the app. Either that or use another AAD tenant for which you are an admin.

[2020-07-24 20:55] #632 closed

[2020-07-28 08:21] tomas-gottwald commented on #626
Further to this there seems to be another version in the docs: https://github.com/Azure/Industrial-IoT/blob/master/docs/tutorials/tut-timeseriesinsights.md where it says that a data point "is uniquely identified by the EndpointId, SubscriptionId and NodeId" but 'SubscriptionId' field is not available in the incoming JSON. Should it be "PublisherId" or "DataSetWriterId" instead? I am also confused

[2020-07-28 10:05] deanwyns opened #643 "Ability to change the sampling and publishing interval of a published item"
**Is your feature request related to a problem? Please describe.**
I'm unable to change the sampling and/or publishing interval through the frontend UI.

**Describe the solution you'd like**
It would be great if we could change the sampling and publishing interval in the drawer detail of a published item.

[2020-07-28 13:09] luiscantero commented on #628
Please see our recommended solutions when you [don't have rights to grant admin consent](https://github.com/Azure/Industrial-IoT/blob/master/docs/deploy/howto-deploy-all-in-one.md#azure-active-directory-registration).

[2020-07-28 13:09] #628 closed

[2020-07-28 13:11] luiscantero commented on #632
Please see our recommended solutions when you [don't have rights to grant admin consent](https://github.com/Azure/Industrial-IoT/blob/master/docs/deploy/howto-deploy-all-in-one.md#azure-active-directory-registration).

[2020-07-28 17:01] mandar-opc opened #644 "OPC Publisher configuration for one message per node per 300 ms"
Hi Team,

We are trying to get data from OPC Server (Kepserver) on IoT Edge via OPC Publisher module (mcr.microsoft.com/iotedge/opc-publisher:linux-amd64).
There are some 800 ~ 1000 tags/sensors and they generate data at max once every 300 ms. But we do not know how many of those tags will generate data every 300 ms and hence we don't know how exactly we can batch these messages. Our requirement i

[2020-07-29 09:17] deanwyns commented on #643
My bad, this is already implemented since 2.7. I was using 2.6 due to the version Microsoft.Azure.IIoT.Deployment deploys. Closing

[2020-07-29 09:17] #643 closed

[2020-07-29 14:30] javafrog opened #647 "OPC Publisher ignores "autoaccept" option"
**Describe the bug**
We are trying to connect to an OPCUA server, but are facing error messages "Certificate chain validation incomplete.". We want to trust the server, so we are using the -aa option as described here: https://docs.microsoft.com/en-us/azure/iot-accelerators/howto-opc-publisher-run, so I would not expect the error.

Create secured session for endpoint URI 'opc.tcp://192.168.0.1:484

[2020-07-30 02:36] erlendp opened #648 "Publisher Data Persistence"
**Describe the bug**
Currently it seems that if the publisher module is restarted, any queued packets will be lost.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure the publisher module is running and set to publish one or more nodes.
2. Disable connectivity between the gateway and IoT Hub.
3. Wait for several packets to accumulate in the queue.
4. Restart the publisher module - i.e. `

[2020-07-30 09:19] luiscantero commented on #647
@javafrog what version of the IIoT platform are you using?
Could you please try again with the latest one?

[2020-07-30 09:27] javafrog commented on #647
Hi @luiscantero thanks for the reply! We did try a few versions (2.5.3, 2.6.146 and 2.7.170), but the problem persists across all of them. At the very moment, we are using `latest`, as described above.

[2020-07-31 06:51] luiscantero commented on #647
@javafrog can you connect to the server with another client, e.g. UaExpert?
I will try to repro the issue today.

[2020-07-31 07:00] javafrog commented on #647
@luiscantero Yes, there is already another solution in place that is connected to the server.
We also tried writing a small python script ourselves, that works, too.

[2020-07-31 12:15] luiscantero commented on #647
@javafrog I've been unable to repro so far. The reason why I asked about the version is because the file OpcSession.cs from the error message belongs to an old version, the current one doesn't have this file. Please also try with the tag ":preview".

[2020-07-31 12:36] javafrog commented on #647
@luiscantero Thanks for the pointer, we will look into that!

[2020-07-31 14:52] javafrog commented on #647
Okay, with the :preview version, we run into another issue. Seemingly, the Publisher can't read the user/pw configuration anymore

[code]

Unfortunately, we haven't found any way to set it besides via the IoT Hub direct methods, which have been removed in the latest version. In the documentation, there is no other way mentioned.

[2020-07-31 20:18] luiscantero commented on #647
I will investigate further next week. Please also check the iotedge logs for HSM failures: `sudo journalctl -u iotedge`

[2020-08-02 21:27] erlendp commented on #648
@luiscantero Is it safe to assume this is intended behavior? We were hoping that setting up mapped docker volumes was for the purpose of preserving these buffers, but given the added feature request label, it looks like that's not the case?

[2020-08-03 10:40] luiscantero commented on #648
@erlendp The mapped volume is used for the publishfile and/or certificates, currently not to persist the queue in case of lost connectivity. I have created a feature request in our system.

[2020-08-03 10:40] #648 closed

[2020-08-04 08:46] gregeva opened #653 "Unable to execute aad-register.ps1 using Azure Cloud Shell"
**Describe the bug**
I am using Azure Cloud Shell as a manner of having the most stable basis for PowerShell and Azure CLI components as this comes loaded with both (according to the Azure CLI documentation).

Attempting to run the deployment scripts fails stating that you should be sure to be running the shell as Administrator, and to ensure that the AzureAD CmdLet is installed.  I have been unab

[2020-08-05 22:21] luiscantero commented on #653
@gregeva Could you please try the version from this [branch](https://github.com/Azure/Industrial-IoT/tree/lcantero/deploycloudshell). It could be that you will be prompted to login twice. There is an issue in the cloud shell related to connect-azuread that leads to the script not working and having to login twice.

Otherwise, using deploy.ps1 to deploy from the cloud shell is not really recommende

[2020-08-06 05:17] mregen opened #657 "InvalidOperationException in Reconnect code of publisher"
**Describe the bug**
[code]
[code]

**To Reproduce**

Publisher is configured to publish nodes from a OPC Server. Enforce a reconnect event, e.g. by removing network cable for a few seconds or by stopping in the debugger.

**Expected behavior**

* no exception *

**Screenshots**
![image](https://user-images.githubusercontent.com/7962757/89493484-8e514f80-d7b4-11ea-965d-95437dc27a0a.png)

**Additio

[2020-08-06 06:08] deanwyns opened #658 "Endpoint browser doesn't show all nodes initially (+ pagination malfunctioning) (2.7.170)"
**Describe the bug**
While browsing to a specific node DataBlocksGlobal (http://www.siemens.com/simatic-s7-opcua#s=DataBlocksGlobal), it initially only shows the icon variable and only 2 pages in total. Upon browsing to page 2, only the first node is shown again and it also shows a 3rd page. When browsing back to page 1, the rest of the variables are shown. This goes for every page. When browsing

[2020-08-06 21:35] luiscantero commented on #653
PR #660 adds support for the Cloud Shell

[2020-08-06 21:35] #653 closed

[2020-08-10 08:20] barnstee opened #664 "Publisher jobs failing intermittently"
**Describe the bug**
Some OPC Publisher jobs appear to be failing due to intermitted network connectivity of the targeted OPC Publisher. Restarting or deleting and recreating the job didn't fix it, though. Logs below:

[15:12:52 INF Microsoft.Azure.IIoT.Module.Framework.Client.IoTSdkFactory] Connecting all clients to pegasusvirtualmachineedgejenkins using MqttOverTcp.
[15:12:52 INF Root] Starting

[2020-08-10 08:26] barnstee opened #665 "Layered Deployment of IoT Edge modules accidentally deleted"
"Something" appears to have deleted the layered deployments we are setting up for Edge modules. This is done in the assoc. cloud microservice during startup. Restarting the microservice brings them back, but what deleted them? There seems to be no customer-enabled logging for the deletion events.

[2020-08-10 08:59] luiscantero commented on #647
@javafrog where you able to get more logs about the HSM failures?

[2020-08-10 11:27] bjbang opened #667 "Some errors in OPC publisher when trying to receive 3 messages per 1 sec consistently from Kepserver"
**Describe the bug**
A customer is using OPC publisher to get data from Kepserver. And it is required to be able to receive 1 message per every 300ms. (It is a requirement of their project.) That is, they would like to receive 3 messages / 1 second consistently from Kepserver regardless of whether the message size is large or small.

To meet this requirement, they tried to use 2.7.171/2.7.183 vers

[2020-08-11 13:28] barnstee commented on #665
No repro since the original case. Closing for now and will reopen if it happens again.

[2020-08-11 13:28] #665 closed

[2020-08-12 09:16] javafrog commented on #647
@luiscantero, sorry, but I was on vacation. I'll try and get those logs in the next days.

[2020-08-12 09:29] oliverchristen opened #669 "OPC Publisher Module - Issue with multiple endpoints in pn.json"
**Describe the bug**
When I configure multiple endpoints in the OPC Publisher configuration file `pn.json` the behaviour is weird and random seemingly. Sometimes, only the first subscription job is executed but twice. And sometimes both subscription jobs are executed correctly.
When the first behaviour occurs, sometimes it helps to switch the order of the endpoint configurations in `pn.json` and r

[2020-08-12 17:04] terrymandin commented on #623
Thanks @cristipogacean !  I missed that in the documentation.

[2020-08-12 17:04] #623 closed

[2020-08-14 07:30] luiscantero commented on #657
I've been unable to repro, but it looks like a threading issue. I will add .ToList() and test the behavior.

[2020-08-14 08:01] #657 closed

[2020-08-18 12:06] rajashekar2012 opened #677 "not able to detect the opc server(UA OPC Server) running in the edge. 0 ports found"
**Describe the bug**
I have followed the local deployment process as listed [here](https://github.com/Azure/Industrial-IoT/blob/master/docs/deploy/howto-deploy-local.md) and [here](https://github.com/Azure/Industrial-IoT/blob/master/docs/deploy/howto-run-microservices-locally.md). Im able to successfully deploy and run the web portal.

- I have taken an azure VM(windows) installed edgeruntime to a

[2020-08-19 16:22] logg-sar opened #678 "Autmomatic Deployment of a specific Release fails"
**Describe the bug**
I have to deploy a predifined version on devices with some limitations and I have two issues with this.
One of the limitations is that git isn´t installed and not installable.

After reading [https://github.com/Azure/Industrial-IoT/issues/456](url) I´ve cloned the repository on a developer pc and want to use this.

However - after calling deploy.ps1 it stops because git isn´t

[2020-08-20 08:14] oliverchristen commented on #669
I'm still struggling with the configuration of multiple endpoints. I found out that when I repeatedly restart the module without changing the pn.json file the OPCPublisher only works as expected in 1 of about 5 times. There seems to be a randomness in this part of the code. I tried to analyze the source code but didn't find anything so far.

[2020-08-20 17:03] vslepakov opened #680 "Minimum deployment of the platform has no web apps"
**Describe the bug**
Deployed the minimum version of the platform like this: `.\deploy.ps1 -aadConfig aad.json -type minimum`

This is the result:

![image](https://user-images.githubusercontent.com/1545509/90802384-7383ec80-e317-11ea-834c-43fccf25746a.png)

Why are there no web apps (engineering tool, microservices backend) deployed?

[2020-08-21 13:43] omarine opened #681 "opcpublisher version ready to prod?"
Hello,

Is there is stable version of the opcpublisher  pushable  into production ?

or what is at least the version  of the opcpublisher that covers all features of the opcpublisher (2.5.3) not maintained anymore...

Thanks in advance

[2020-08-24 04:36] erlendp commented on #669
I believe this issue is also happening when there are multiple dataset writers, which can happen if different publishing intervals have been specified.

Thanks for creating a PR - hopefully it gets up-streamed quickly!

[2020-08-24 13:10] omarine commented on #350
Hello,

Do you have any idea when  the new version of the opcpublisher will be in GA ?

Regards,
Oussama

[2020-08-25 09:37] gregeva opened #683 "Helm installation instructions install old non-working version (2.16.3)"
Following the [instructions to add AKS to the Azure Industrial IoT microservices deployment](https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2FIndustrial-IoT%2Fblob%2Fmaster%2Fdocs%2Fdeploy%2Fhowto-add-aks-to-ps1.md&data=02%7C01%7Cgeva%40ptc.com%7Cb5ad0b67e9cc405b373708d848d6eac4%7Cb9921086ff774d0d828acb3381f678e2%7C0%7C0%7C637339435181977438&sdata=82l57nQe2dhU

[2020-08-25 09:43] gregeva commented on #653
Hello @luiscantero

I tried using the Cloud Shell as so many people had issues across various environments with variance (versions, OSes, etc.)  The intention was to have a stable fixed approach.  I understand that this is not ideal due to timeout but was testing.

I think that the underlying issue is with the  './aad-register.ps1 -Name application_name -Output aad.json' command which I was never

[2020-08-26 08:41] martin-weber opened #685 "Duplicate publisher jobs after unregister and new discovery"
## Description of the Bug

When unregistering an asset in the Engineering Tool or via swagger (DELETE /registry/v2/applications/\{applicationId\}) the Jobs for the endpoint are not deleted.
This results in following consequences:
- Nodes/Tags are still processed on the edge publisher module.
- When running a new discovery and registering the same endpoint again, it results in a second dataSetWrite

[2020-09-01 16:17] dacolgit commented on #677
In the discovery module version 2.7.170 the discovery Url does not work properly.
Update your discovery module to the latest master and retry a discovery Url

[2020-09-02 16:18] karok2m commented on #683
Thank for reporting this @gregeva. I will update the doc to link to official Helm documentation for installation instructions. I will also keep Azure CLI based installation as an alternative approach, adding a client version to it. The updated command will be:

[code]

Regarding the deprecation of `az acr helm` command group: there is an ongoing discussion about this, and there is a possibility th

[2020-09-02 17:01] karok2m commented on #680
@vslepakov, this is by design. As we have several hosting options (App Service and AKS) for backend microservices, `minimum` deployment type is intended for only creating Azure resources that are required for running the microservices on top of them.

Please use deployment type:
- `services`: if you want the deployment to add backend microservices in addition to Azure resources.
- `app`: if you wa

[2020-09-02 17:28] #683 closed

[2020-09-03 07:04] luiscantero commented on #653
@gregeva did you try the latest version and is still not working?
I also added a parameter TenantId that you can use to select a particular AAD tenant. Please try this as well and let me know the results.

[2020-09-03 09:08] luiscantero commented on #669
I have tested the publisher hundreds of times with multiple servers and have honestly never ran into this issue. Thanks for the PR.

[2020-09-03 15:05] #680 closed

[2020-09-03 20:34] luiscantero commented on #647
Closing due to no response

[2020-09-03 20:34] #647 closed

[2020-09-04 08:40] anglogold opened #692 "Discovery module error Non-negative number required"
Discovery module fails any attempt to execute ad-hoc discovery; although default scans are successful.

The endpoint we want to discover is hosted on a routed VLAN; we can telnet from the discovery host to the endpoint network; although any attempt to scan the endpoint returns the below error.

**_[01:49:20 INF Microsoft.Azure.IIoT.OpcUa.Edge.Discovery.Services.ProgressPublisher] null: Starting ne

[2020-09-04 11:36] MaidaB commented on #658
This problem should be resolved with this PR https://github.com/Azure/Industrial-IoT/pull/676 . Please reopen the issue if the problem persists.

[2020-09-04 11:36] #658 closed

[2020-09-06 05:16] aagamb12 commented on #438
Hey guys,
I have a very similar issue,  I have succesfully deployed OPC publisher into my raspberry PI (already configured as IoTEdge device)  and everything seems to be properly configured in Azure OPC module container. When i run the command "iotedge list" you can see that the 3 services are running well but when i want to see the logs i could not get any logs in the OPC module, see image below.

[2020-09-07 01:46] aagamb12 opened #699 "OPC publisher - Could not get logs for module publisher"
Dear all,
I have a problem with OPC publisher to sending logs into IoTHub. I have succesfully deployed OPC publisher into my raspberry PI (already configured as IoTEdge device) and everything seems to be properly configured in Azure OPC module container. When i run the command "iotedge list" you can see that the 3 services are running well but when i want to see the publisher OPC logs i get and en

[2020-09-07 12:16] cristipogacean commented on #667
Hi,

can you try to test non-secure connectivity to the Kepserver as a trial?
enable security policy none for the KepServer.
![image](https://user-images.githubusercontent.com/14314727/92386296-d2b56f80-f113-11ea-99e3-449477e34bcb.png)

and to enable Anonymous user Login for the Kepware's OPC UA Server
![image](https://user-images.githubusercontent.com/14314727/92386517-38a1f700-f114-11ea-8a18-78f

[2020-09-07 14:17] luiscantero commented on #699
@aagamb12 please try `sudo iotedge logs OPCPublisher -f`. The syntax is `iotedge logs <CONTAINER_NAME>`.

[2020-09-07 18:48] aagamb12 commented on #699
Luis,Tthat was exactly the issue! i had another issue with the container as well but now everything seems to be working. Thank you so much,
![image](https://user-images.githubusercontent.com/62848236/92412049-5bcea580-f118-11ea-90b6-4497865af993.png)

Do you know how i can see the json OPC telemetry being sent into my IoThub? the direct messages (GetInfo, etc ) does not work. I know the OPC trafff

[2020-09-07 19:52] luiscantero commented on #699
@aagamb12 I'm glad I was able to help.
BTW, you can also use docker commands directly, such as:
sudo docker ps
sudo docker logs OPCPublisher --tail 200
etc.

[2020-09-07 19:52] #699 closed

[2020-09-07 19:57] luiscantero commented on #644
@mandar-opc I was told that this is a duplicate of issue #667. I will close this issue and we will get back through 667. Sorry for the long delay.

[2020-09-07 19:57] #644 closed

[2020-09-07 20:14] luiscantero commented on #678
@logg-sar I will take a look at this in the next few days, sorry for the long delay.

[2020-09-08 08:57] luiscantero commented on #699
@aagamb12 I just noticed your last question. To view the telemetry, you can use "Azure IoT Explorer" or the Azure IoT Tools extension for VS Code.

[2020-09-08 12:03] luiscantero commented on #678
@logg-sar Reg. 2b, when you pass a context for authentication, that sets the interactive mode to false and it will not ask to save the environment, see: $script:interactive = !$script:context
Does this help?

[2020-09-08 12:31] luiscantero commented on #678
Reg. 4a, the script needs the branch name because it uses ARM templates that are located in the online repo. It defaults to the currently selected branch, which should also exist online. Passing -branchName master to the script could bypass the need for git. Would that help?

[2020-09-08 12:38] karok2m commented on #669
As mentioned in the discussion under #679 PR, the issue does not seem to be resolved.

[2020-09-08 21:57] nspyke opened #702 "The value of deployment parameter 'keyVaultPrincipalId' is null"
**Describe the bug**
While running the minimal deployment with the following command;
[code]
 i get this output & error;
[code]

I am not a Global Admin, but I am owner on the subscription. But it looks like it was able to create the AAD apps just fine?

**To Reproduce**
Steps to reproduce the behavior:
Run the command above

**Expected behavior**
The deployment to work as explained in readme

**D

[2020-09-08 22:24] nspyke commented on #702
Tried again with the Cloud App Administrator role in AAD and it failed again with the same error

[2020-09-08 22:57] nspyke commented on #702
After being granted Cloud App Admin role in AAD, I tried again and received the same error.
I tried to run the following;
[code]
and all that I get in the output file aad-prd.json is `null`

[2020-09-09 03:55] nspyke commented on #702
Tried to run the deploy script again on a AAD tenant where I am Global Administrator and it still fails with the same error.

[2020-09-09 05:54] oliverchristen commented on #669
The behaviour of the publisher is the same as before: Randomly the first endpoint configuration is executed twice. In my case in ~4 out of 5 times after a restart of the module. No matter how I configure the various settings. Our module configuration looks like this:
[code]

[2020-09-09 06:11] luiscantero commented on #669
@oliverchristen just to be clear: your local repo that includes the changes in your PR #679 does fix the issue, but opc-publisher:2.8.42 does not?

[2020-09-09 06:13] luiscantero commented on #702
@nspyke could you please try deploying and/or registering directly from the Azure Cloud Shell?

[2020-09-09 06:19] oliverchristen commented on #669
@luiscantero no that's not true. I did not manage to create a module with my local repo. So I was not sure whether my pull request fixes the issue or not.

[2020-09-09 08:20] nspyke commented on #702
I was able to get this to work by dropping all the additional parameters apart from `-type minimum` and then switching from the master branch to the latest release branch. This is a work around though. I will try using the Cloud Shell when I get to work tomorrow.

[2020-09-09 10:42] luiscantero commented on #702
I just deployed using master and all your minimum parameters and it was successful:
![image](https://user-images.githubusercontent.com/1353540/92588798-d70b9500-f299-11ea-8409-15f858efc052.png)

[2020-09-09 10:43] luiscantero commented on #702
@nspyke Are you able to create/modify app registrations manually in the AAD tenants that you are using?

[2020-09-09 10:51] luiscantero commented on #669
@oliverchristen This is how you can build your own module and push to your own ACR repo (from Windows):
cd tools\scripts
powershell -command "& '.\docker-source.ps1' ..\modules\src\Microsoft.Azure.IIoT.Modules.OpcUa.Publisher\src"
az acr login --name <YOUR_ACR_NAME>
docker build -f ..\..\modules\src\Microsoft.Azure.IIoT.Modules.OpcUa.Publisher\src\bin\publish\Release\linux-x64\Dockerfile.linux-amd

[2020-09-09 10:59] oliverchristen commented on #669
@luiscantero thanks for this hint.

[2020-09-09 19:39] apittier opened #703 "Running the Microsoft.Azure.IIoT.App sample Blazor app"
Hi,

I'd like to try out the Industrial-IoT\samples\src\Microsoft.Azure.IIoT.App Blazor app.

When attempting to debug it from Visual Studio it fails with the error below.

Are there any guidelines on how to get the needed environment setup?
Is there any demo version of this app already deployed to take a look at it?

[code]

Thanks.
Amparo

[2020-09-09 20:15] luiscantero commented on #703
@apittier You need to [deploy the platform](https://github.com/Azure/Industrial-IoT/blob/master/docs/deploy/howto-deploy-all-in-one.md#running-the-script) to the cloud. When deployment finishes, you will be asked to save the environment. This will save a .env file to the root of your repository and will enable you to debug the application locally.
I hope this helps.

[2020-09-09 20:21] apittier commented on #703
@luiscantero many thanks for the quick response!

[2020-09-09 22:09] nspyke commented on #702
deploy.ps1 works on the master branch, in Azure Cloud Shell, only using the parameter -type minimum.

Yes, I have the Cloud Application Administrator role.

I was having this issue while Powershell 7, and I'm thinking that its possible that that may have something to do with it.
Now that I've reverted back to Powershell 5, I'm not encountering the issue.

[2020-09-10 05:49] #703 closed

[2020-09-10 16:38] NooraKubati opened #707 "Deployment Unsuccessful without RBAC's Key Vault"
**Describe the bug**
Unable to deploy the platform. This is due an issue with the deployment of the KeyVault, for security purposes I require it to have RBAC (Role Based Access Control). Without this the deployment will not run in my organisation.
However my team and I are struggling to find the configuration options for this in the cloned repo. Appreciate this may be a simple fix / pointer in the

[2020-09-11 04:40] bjbang commented on #667
Hi,

Sorry for the delay.
When the customer applied the guide that cristipogacean provided, they had the below error using mcr.microsoft.com/iotedge/opc-publisher:2.7.183-linux-amd64 **with** BatchTriggerInterval option.

**Note**: **Without** BatchTriggerInterval option, it worked normally with mcr.microsoft.com/iotedge/opc-publisher:linux-amd64.

Please refer the below configuration and the log

[2020-09-11 06:39] luiscantero commented on #678
Closing due to no response.

[2020-09-11 06:39] #678 closed

[2020-09-11 06:40] luiscantero commented on #702
Closing for now. We can reopen if necessary.

[2020-09-11 06:40] #702 closed

[2020-09-11 06:43] #399 closed

[2020-09-11 08:26] luiscantero commented on #707
@NooraKubati I updated the KV apiVersion in the file azuredeploy.minimum.json. Could you please clone and deploy using branch `lcantero/updatekvapi`, then post any errors that you might get here.

[2020-09-11 08:30] cristipogacean commented on #707
Thanks @luiscantero can you please do the same on the poc/pubsub_binary branch?

[2020-09-11 10:27] NooraKubati commented on #707
@luiscantero Hi Luis thanks for your response. I have tried deploying from that branch and hit the same error again:
`Deployment will use 'lcantero/updatekvapi' branch in 'https://github.com/Azure/Industrial-IoT'.

Please specify a name for your application.

Start time: 11:21
Using preview images from mcr.microsoft.com.
Starting deployment...
11:21:53 - Error: Code=InvalidTemplateDeployment; Mess

[2020-09-11 17:47] achalupa-ptc commented on #553
This issue is also related to a limitation where the aad-register.ps1 script only works when running on a Windows server.  jaeger adjusted this script to  eliminate the interactive login.  with that version of the script we're stuck on this error when running on a linux server:

Connect-AzureAD: /Users/Andreas/msai-xxxxxx-work/msai-automation-modules/scripts/azure_fiaas/azure_fiaas_aad_register.ps

[2020-09-13 19:58] mscott012 opened #710 "OPCPublisher startup delays"
**Describe the bug**
Later versions of OPCpublisher seeing large delay in subscription items.
Comparison done between V107 and V183 versions

**To Reproduce**
Steps to reproduce the behavior:
1. Install V107 on opcpublisher module to iotedge
2. Start Opcpublisher and watch logs
3. Repeat with V183 and compare logs looking at times between subscripting each 1000 items

**Expected behavior**
Expect

[2020-09-14 08:08] gregeva opened #712 "Documentation example for Installing Industrial Modules requires clarification and missing comma"
**Describe the bug**
Documented instructions to install the Industrial Modules on IoT Edge lack clarity and have a typo (missing comma) in example.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/Azure/Industrial-IoT/blob/master/docs/deploy/howto-install-iot-edge.md#install-the-industrial-modules'
2. Read the instructions
3. Figure out exactly what you're meant to d

[2020-09-14 11:14] luiscantero commented on #707
@NooraKubati We are investigating and will get back ASAP.

[2020-09-14 11:30] luiscantero commented on #712
@gregeva Thanks for reporting this. What do you think of the changes in the attached PR?

[2020-09-15 09:43] bjbang commented on #667
Any updates?

[2020-09-15 11:53] luiscantero commented on #707
@NooraKubati Please pull to update your `lcantero/updatekvapi` repo, then try to deploy again.
If it succeeds, you will need to perform the following manual steps to complete the deployment:
1. Go to the resource group, find the resource of type Managed Identity and copy its name
2. Select the Key vault, click on Access control (IAM) -> Add -> Add role assignment
Role: Key Vault Administrator
Sele

[2020-09-15 13:38] #712 closed

[2020-09-15 14:32] NooraKubati commented on #707
@luiscantero Hi Luis, I have tried your suggestions from scratch however the deployment is still hitting the same error unfortunately.
Please review my attempts below:

[code]

 in the portal:

` "statusMessage": "{\"error\":{\"code\":\"InvalidTemplateDeployment\",\"message\":\"The template deployment failed because of policy violation. Please see details for more information.\",\"details\":[{\"co

[2020-09-16 07:29] luiscantero commented on #707
@NooraKubati Could you please contact your IT and ask about more details regarding the policy? (the error is not standard, so I cannot check myself).
In the repo that we are using, we set the enableRbacAuthorization=true, which results in a Key vault with this setting:
![image](https://user-images.githubusercontent.com/1353540/93305642-12104a00-f7ff-11ea-8eaa-996dc81e17ed.png)

[2020-09-16 07:52] luiscantero commented on #707
@NooraKubati I just updated the template again and removed all access policies, which are not needed when using RBAC. Could you please try to deploy again? Thanks.

[2020-09-16 12:30] NooraKubati commented on #707
@luiscantero Hi Luis, unfortunately this did not succeed either. The key vault was made correctly with the required RBAC access, however this has not gotten rid of the error and there were no secrets/keys to be found.

Have just had a long call with some of your colleagues and I think this issue will take a lot of investigating so I am to happy to continue working on that together privately and ma

[2020-09-16 15:33] luiscantero commented on #707
We will continue offline

[2020-09-16 15:33] #707 closed

[2020-09-16 19:35] #669 closed

[2020-09-17 08:12] barnstee commented on #681
Our latest production ready version of OPC Publisher is version 2.7.183. We are working hard on bringing the missing features from 2.5.3 into a future version. What features are you missing specifically?

[2020-09-17 08:40] barnstee commented on #515
We have documented the use of the Publisher in the new OPS manual (including links to its Swagger API): https://github.com/Azure/Industrial-IoT/blob/release/2.7.180/IIoT%20Platform%20Overview%20and%20Operations%20manual%20-%202.7.183.pdf

[2020-09-17 08:44] barnstee commented on #512
Please check out our new [Ops Manual](https://github.com/Azure/Industrial-IoT/blob/release/2.7.180/IIoT%20Platform%20Overview%20and%20Operations%20manual%20-%202.7.183.pdf) for Publisher documentation, too

[2020-09-17 08:47] barnstee commented on #473
Duplicate of #685

[2020-09-17 08:47] #473 closed

[2020-09-17 08:50] barnstee commented on #389
Closing due to inactivity. Question has been answered.

[2020-09-17 08:50] #389 closed

[2020-09-17 08:53] barnstee commented on #177
This is implemented in version 2.7.183.

[2020-09-17 08:53] #177 closed

[2020-09-17 08:57] barnstee commented on #143
Consumption in OPC Publisher is not the issue, but network latency to IoT Hub. If OPC Publisher drops messages it is because it can't send them fast enough to IoT Hub. This is by design and backpressure handling. Please reduce the number of messages you are sending or setup a second OPC Publisher in parallel. I'm closing for now. If you still experience issues, please reopen.

[2020-09-17 08:57] #143 closed

[2020-09-17 09:06] barnstee commented on #512
Remaining feature request is for "It would be good to make this a settable parameter in the engineering tool and describe the issue in the tutorial."

[2020-09-17 09:18] barnstee commented on #35
Complex data types are now supported in 2.7.183.

[2020-09-17 09:18] #35 closed

[2020-09-17 11:06] barnstee commented on #559
Standalone mode is supported from V2.7 onwards and documented in our [Ops manual](https://github.com/Azure/Industrial-IoT/blob/release/2.7.180/IIoT%20Platform%20Overview%20and%20Operations%20manual%20-%202.7.183.pdf), please try our latest version (2.7.183).

[2020-09-17 11:06] #559 closed

[2020-09-17 11:09] #515 closed

[2020-09-17 13:32] RotateAt60MPH commented on #177
Thanks @barnstee ! Has there been a documentation update on how to leverage this new capability?

[2020-09-17 13:48] barnstee commented on #177
It is automatic, see [here](https://github.com/Azure/Industrial-IoT/issues/389#issuecomment-627534226)

[2020-09-17 15:04] cristipogacean commented on #592
closing for now, please reopen if needed

[2020-09-17 15:04] #592 closed

[2020-09-19 13:27] dvanlaerhoven commented on #39
@hansgschossmann @marcschier Is there any news on getting the data format compatible with DTDL and IoT central?

[2020-09-22 08:29] markusstuhler commented on #605
Hi @FMauroy, did you try to configure the heartbeat interval like @cristipogacean proposed in his first response? That should give you values from the static nodes even when their value didn't change.

I will close this issue for now. Please reopen if the issue cannot be solved with that approach.

Thanks!

[2020-09-22 08:51] FMauroy commented on #605
Of course not, the heartbeat is unreliable. In many cases, we had values in the future, that's why we had to implement it this way.

[2020-09-23 08:40] anipuramattom opened #728 "OpcPublisher module Basic256Sha256 communication issue"
**Describe the bug**
secure communication session not created while trying to connect to Ignition Opc Server. Receives exception: 'Opc.Ua.ServiceResultException: BadSecureChannelClosed'. It works fine when securemode 'None' is enabled.
I have added Ignition server certificate to trusted cert path.

**To Reproduce**
Steps to reproduce the behavior:
1. create pn.json with Server endpoint URL
2. Enab

[2020-09-23 10:02] markusstuhler commented on #199
Hi @logaras, sorry for the late response from our side.

Is this issue still current?

Thanks!
Markus

[2020-09-24 06:48] markusstuhler commented on #605
Could you please provide the code you wrote so that we can have a look at it to answer your question concerning side effects?

Thanks!
Markus

[2020-09-24 11:50] bjbang commented on #667
The customer performed the test that you suggested today, but the OPC publisher becomes to be failed after some minutes.
The attached is the log using support-bundle --since 2m
[support_bundle.zip](https://github.com/Azure/Industrial-IoT/files/5275728/support_bundle.zip)

![image](https://user-images.githubusercontent.com/69458812/94140452-38d91b00-fea6-11ea-8a8c-b93408690a0b.png)

They used the b

[2020-09-24 11:58] cristipogacean commented on #667
looks like the file pn.json file is corrupted:
[code]

[2020-09-24 13:41] mpostol commented on #38
Hi @barnstee and @mregen, I understand that removing this issue from the 2.8 milestone means that compatibility with OPC UA PubSub 1.04 is not your priority for now. Let me inform you that [PubSub to Azure Gateway](https://github.com/mpostol/OPC-UA-OOI/tree/master/Networking/DataRepository/AzureGateway#azure-gateway-datarepository-implementation) has been just published on GitHub as a part of the

[2020-09-24 14:11] barnstee commented on #38
You are making a lot of assumptions here! We just removed the milestone since we're not sure yet if we call the next version 2.8 or 3.0. This work is actually scheduled for our current sprint! :)

[2020-09-24 14:31] mpostol commented on #38
@barnstee, it is great. I only assumed that the "sprint a set period of time during which specific tasks must be completed" but not tightly coupled version number". Thanks, I will watch it. Let me know if there is something I can do to help.

[2020-09-24 15:28] bjbang commented on #667
After fixing pn.json, it looks to work normally.

In order to check if a message is delivered every 300 ms, the customer displayed the log in a callback function of TestScheduler module that receives the output from OPC publisher.
In the screenshot, the log containing “Received message buffer at” is displayed from the callback function.

After analyzing the log, the customer found that the message

[2020-09-24 15:55] cristipogacean commented on #667
sounds good!
yes, probably the value is not changed in the server every now and then within the exact sampling interval. As I explained in the call, only value changes are propagated. if the value is static it will not transported. This is the default behavior of standard opc ua publishing mechanism.

[2020-09-25 06:06] bjbang commented on #667
According to the customer, the setting in Kepserver is set to generate new values for all tags continuously. And so the messages should be delivered every 300 ms. They considered that it was an abnormal situation.

The below is the simulation setting in Kepserver.
For example, for 40031 tag, a random value between 1 and 100 is generated every 100 ms. And other tags are also generated every 100 ms.

[2020-09-25 10:05] markusstuhler commented on #667
The latency of the OPC Publisher is not deterministic so we cannot guarantee an output of 3 messages per second. It was build for non-realtime cloud communication with eventual delivery but not for realtime scenarios like to one you described.

[2020-09-25 11:18] #667 closed

[2020-09-25 11:25] markusstuhler commented on #603
Hi @saurabhsadhu, we're currently working on a fix to be able to specify the Heartbeat Interval for each node in the pn.json file.

However, the cli argument "--DefaultHeartBeatInterval" should work. Could you please try to increase the interval (for testing purposes) to a higher value (like 5 seconds)?

Thanks!
Markus

[2020-09-25 12:23] barnstee commented on #710
@mscott012 , I tired to repro this with 2.7.170 and 2.7.183 and couldn't, not in standalone mode or in orchestrated mode. Here are my results (tested with Kepware):

Orchestrated mode, 2.7.170:
[10:32:40 INF Root] Starting module OpcPublisher version 2.7.170.10628.
[10:32:40 INF Root] Initiating prometheus at port 9702/metrics
[10:32:40 INF Root] Prometheus metric server started.
[10:32:40 WRN Mic

[2020-09-28 07:46] anipuramattom commented on #728
issue resolved by updating endpoint url by discovery server path:  'opc.tcp://<ip-addr>:4096/discovery'

When connecting with security option 'None', it works just with 'opc.tcp://<ip-addr>:4096'. But while adding Basic256Sha256, it is required to be given as 'opc.tcp://<ip-addr>:4096/**discovery**'

[2020-09-28 07:46] #728 closed

[2020-09-28 19:36] jmbrunskill commented on #710
Could this be due to having invalid tags in our publishednodes.json?
Maybe the error handling is causing a wait state?

We have errors like this in our logs
[23:20:24 WRN Microsoft.Azure.IIoT.OpcUa.Protocol.Services.SubscriptionServices+SubscriptionWrapper] Failed to read display name for 'ns=2;s=Sim.CH1.NZ010_SIM_CH1_TAG13972_JMB1468\31c4323-c63-e0a01' due to 'BadNodeIdUnknown'
[23:20:24 WRN Micr

[2020-09-29 10:11] logaras commented on #199
Hi Markus, thanks for replying.
Please, allow a couple of days to perform some tests and I will reply to you as soon as I have some results.

Marios

[2020-09-29 14:53] terrymandin opened #741 "Cannot find publishednodes.json on Windows"
We installed IoT Edge on a Windows PC.  The OPC Publisher module is starting but it cannot see the publishednodes.json file.  We updated the "Binding" area to point to our file, but that did not resolve the issue.

publishednodes.json:
[code]

Module configuration:
[code]

The file exists in c:\app.  We have confirmed that the file name is "publishednodes.json".  ie.  ".txt" is not appended.
![pub

[2020-09-30 17:17] omarine commented on #681
One of the features we are lucking are direct methods, are they implemented via twin module?I can't see how can we call them from.portal like we used to? Where is the list of direct methods already implemented?

[2020-09-30 17:22] barnstee commented on #681
Adding direct methods back in is one of the highest priority feature we are working on. If you need them now, please stay on version 2.5.3, which was the last version that supported them. They are documented here: https://github.com/Azure/iot-edge-opc-publisher/blob/master/opcpublisher/HubMethodModel.cs
As soon as we have a release plan when we can bring them back, I will let you know.

[2020-09-30 18:25] omarine commented on #681
Great... But can I use the rest api in the meantime ?how are the writes are implemented in the opctwin?direct methods or cloud to device (for long running operations?

[2020-09-30 19:52] terrymandin opened #743 ""Failed to add local host address" exception in Discovery service"
I iinstalled the Industrial IIoT Platform v2.5.58.  The Windows gateway Discovery module is not finding any OPC Servers or endpoints - none are visible in the UI.  When I looked at the IoT Edge "Discovery" module I found the following Exception:

[code]

[2020-09-30 22:52] #741 closed

[2020-09-30 22:54] terrymandin commented on #741
Was able to resolve the issue with help from a colleague.  Setting the "pf" parameter to point to the directory that publishednodes.json fixed the issue:

[code]

[2020-10-01 06:07] vjrantal commented on #702
As reference that I had this same issue but it got fixed by deleting existing powershell module installations and letting the deploy script install the dependencies.

I wonder could it be related to how the module dependencies are checked in file `aad-register.ps1` and whether there would be any scenario where it detects a module installation but the version is old or incompatible with the deploym

[2020-10-01 07:11] alevincenzi commented on #681
Hello.

Apologies for jumping in but i have a similar question.

Can you please clarify the difference between the opcUaPublisher in this Induastrial-IoT repo and [this old one](https://github.com/Azure/iot-edge-opc-publisher)? Latest release there is 2.4.1 on July 2019.

The point is there there is a well detailed [readme file](https://github.com/Azure/iot-edge-opc-publisher/blob/master/README.md

[2020-10-01 07:17] barnstee commented on #681
Yep, you got it:
Until 2.4.1 we used the old repo here: https://github.com/Azure/iot-edge-opc-publisher
From 2.5.3 we used the new repo (this one)
We're in the process of updating our docs in the new repo with the new command line arguments, stay tuned.

[2020-10-01 08:19] henioStraszny opened #744 "Private Endpoint connection failure"
**Is your feature request related to a problem? Please describe.**
I'm unable to configure IoT Edge to communicate with IoT Hub through private endpoint.

I've requirement to send factory data to Azure through VPN tunnel. In order to do so, I've exposed IoT Hub through private endpoint and configured IoT Edge to point to private IP of private endpoint.

The result is SSL certificate mismatch:

[co

[2020-10-01 13:48] omarine commented on #681
Hi ,

So can someone confirms how the read and write methods are implemented in the opctwin module?are they implemented as direct methods?

[2020-10-02 07:54] hansgschossmann commented on #681
hi omarine,
OPC Twin can be running as a standalone module and supports a direct methods. They are not documented, since they are used with the OPC Twin microservice typically.
I will need to check if documenting it makes sense and if it is worth the effort.
Here is a list of the supported methods:
- reset_v2 
- getstatus_v2 
- browse_v2 
- browsenext_v2 
- browsepath_v2 
- valueread_v2 
- valuewr

[2020-10-02 07:54] #681 closed

[2020-10-02 08:14] hansgschossmann commented on #744
this looks like as if your docker configuration is not right, since you can connect from the host, but not from within a container.
i would run busybox and add networking tools and check name resolution and connectivity from within the container.

pls open this issue on the IoT Edge GitHub repository since it is not an Industrial-IoT issue in the first place.

[2020-10-02 08:14] #744 closed

[2020-10-02 08:26] hansgschossmann commented on #541
@henioStraszny have you verified that you are using the latest versions as @erlendp did?

[2020-10-02 08:31] hansgschossmann commented on #385
@andr5362 for now the workaround would be to change the configuration for the OPC Twin modules layered deployment configuration to bind the certificate directory to a host directory. Please let me know if you still need to resolve this.

[2020-10-02 09:09] luiscantero commented on #702
@vjrantal One important module used by `aad-register.ps1` is AzureAD, you can check if it's installed like this:
`Get-Module -ListAvailable -Name "AzureAD"`

The script also includes two fallbacks for running it in the Azure Cloud Shell. I've noticed that if you start a cmd command prompt from VS2019, then start `powershell` and run the above command, the module might not be found. If you start a

[2020-10-02 18:05] apittier opened #748 "Question: releases and opc-publisher version numbers"
Hello,

I'd like the confirm the correspondence between the Industrial-IoT releases and the opc-publisher edge module docker image versions.

Does _"the latest release - version 2.7.199 of the Industrial IoT Platform"_ correspond to the docker image _"mcr.microsoft.com/iotedge/opc-publisher:2.7.199"_ ?

(It confuses me that the latest available version of the opc-publisher seems to be: 2.8.9).
htt

[2020-10-02 19:39] aronsemle commented on #39
I heard rumor something was coming with DTDL and the edge stuff, but I'm an old Kepware guy and very familiar with this problem. We're developing something to make this easier (basically OPC UA to nicely modeled JSON objects in Azure), among ither things. It's called HighByte (https://www.highbyte.com/). It's early days, so ping me if you're interested in trying it out.

[2020-10-05 09:56] koepalex commented on #748
HI Amparo,

there are currently two versions under development 2.7.x and 2.8.x. 2.7.x is currently the released one. Version 2.8.x is under development and not official released, you can check [Releases Page](https://github.com/Azure/Industrial-IoT/releases).

So you should use the 2.7.199 image.

regards,
Alex

[2020-10-05 12:27] apittier commented on #748
Perfect. Many thanks @koepalex.

[2020-10-05 12:27] #748 closed

[2020-10-06 07:17] barnstee commented on #586
We switched the log level from debug to info for this error in the 2.7.199 release.

[2020-10-06 07:17] #586 closed

[2020-10-06 13:10] githubjanson opened #752 "OPCPublisher delays before first message is sent to IoTHub"
Setup:

- Windows VM running IoTEdge with OPCPublisher module
- Windows VM with OPC UA simulation server with 2 nodes changing values every 5 s
- OPCPublisher is run with command flag --si=5, i.e., it should send messages every 5 s to IoTHub

When I start the OPC UA simulation, I can immediately see in the OPCPublisher diagnostics log that it registers the value changes. But there is a delay of ab

[2020-10-07 10:17] koepalex commented on #752
Which version of the OPC Publisher are you using?

[2020-10-07 15:47] omarine commented on #681
Thanks ,

concernng the features missing,i was looking for a way to athenticate the opcpublisher to a server using X509IdentityToken

but based on the 2.7.183 version i think the User would either be of Type UserNamePassword or null

![image](https://user-images.githubusercontent.com/13197345/95354445-bb110880-08c4-11eb-9c7c-b68b8c6f93cf.png)

and in the process of the session création :

![image]

[2020-10-08 07:30] barnstee commented on #681
Yes, only username/password auth is implemented for user auth right now. We will add this to our backlog.

[2020-10-08 11:16] barnstee commented on #710
I don't think the BadNodeIdUnknown has an impact. I just tried again with Kepware and 100K published nodes and still can't repro, but I did try our latest release (2.7.199) compared with your original test (2.7.107):

2020-10-08 10:39:10.994 +00:00 [INF] Starting module OpcPublisher version 2.7.199.64639.
2020-10-08 10:39:10.996 +00:00 [INF] Initiating prometheus at port 9702/metrics
2020-10-08 10

[2020-10-08 11:17] barnstee commented on #710
Can you try to repo again on your side with 2.7.199, please? Do you see this regression consistently?

[2020-10-12 08:18] SandeepThombare opened #757 "Not able to use CA certificate which is not created by OPC Publisher module."
I am not able use CA certificate which is not created by OPC publisher module it means I don’t want to use certificate created by OPC publisher module during start-up.
I tried to copy valid. Der and .Pfx files to Own folder in /PKI directory so that module can see there is certificate in folder but still OPC publisher creating its own certificate.

**To Reproduce**
Steps to reproduce the behaviour

[2020-10-12 09:38] cristipogacean commented on #757
you need to make sure that the custom certificate (CA signed) contains the subject recognized by the publisher "CN = Microsoft.Azure.IIoT"
![image](https://user-images.githubusercontent.com/14314727/95728803-3df6e200-0c7c-11eb-9174-ae93ab811ef2.png)

This certificate will be picked up by the publisher and no self signed certificate will be generated anymore

[2020-10-13 07:22] Ayushi-shah1 opened #759 "OPC Twin module throws exceptions at startup"
I am using the latest OPC twin module of image URI as mcr.microsoft.com/iotedge/opc-twin:latest in IoT edge which running in Windows VM. But the OPCTwin is unable to detect OPC UA server. I am getting repeatedly same logs.
Below is the log of OPC Twin.

[05:48:57 INF Microsoft.Azure.IIoT.Module.Framework.Client.IoTSdkFactory] Connecting all clients to 10.0.0.9 using MqttOverTcp.
[05:48:57 INF Root

[2020-10-13 07:32] cristipogacean commented on #759
Try setting the "User": "ContainerAdministrator", in the twin module's container create options.
E.g.
[code]

[2020-10-13 07:33] dacolgit commented on #664
not reproducible

[2020-10-13 07:33] #664 closed

[2020-10-13 07:46] SandeepThombare commented on #757
Thanks cristipogacean for your reply.
I have created self signed certificate using openssl and as per your comment given the "CN = Microsoft.Azure.IIoT" and copied to the folder \own.  In this test, OPC publisher didn't use the  custom certificate . OPC publisher module have created and used.
please guide if I miss anything.

[2020-10-14 09:51] gregeva commented on #653
Hi @luiscantero  - sorry but I've moved on and won't be going back to troubleshoot this.

[2020-10-14 09:54] gregeva commented on #683
You're welcome @karok2m - thanks for improving the documentation to address this.  It was a brick wall for a lot of our people trying to use AIIOT.

[2020-10-14 10:02] markusstuhler commented on #199
Hi Marios,

did you find time to retest if the issue still persists? I could not reproduce in on my side. I wrote a small testing tool that validates the sequence number of the the messages and no message was missing.

Thanks!
Markus

[2020-10-14 11:30] gregeva opened #774 "OPC Publisher stops publishing tags when others are updated (scan rates)"
**Describe the bug**
Changing the scan rate of certain Nodes/tags seems to create a condition where the IoT Edge OPC Publisher either stops scanning or publishing all the other nodes which were not updated.

This has been tested and seen on the same application and endpoint across two versions (2.7.170 and 2.7.182).

**To Reproduce**
Steps to reproduce the behavior:
1. Subscribe to a number of OPC

[2020-10-14 15:53] dacolgit commented on #588
Hi,

I tried to reproduce your issue, but I cannot see the double message.
Could you please try using this server: [https://github.com/Azure-Samples/iot-edge-opc-plc](url) ?

Just run it with the following command.
`docker run --rm -it -p 50000:50000 -p 8080:8080 --name opcplc mcr.microsoft.com/iotedge/opc-plc:latest --pn=50000 --autoaccept --nospikes --nodips --nopostrend --nonegtrend --nodataval

[2020-10-16 07:10] markusstuhler commented on #199
I will close this issue for now. Please reopen if you're still having problems.

Thanks!
Markus

[2020-10-16 07:10] #199 closed

[2020-10-16 14:01] cristipogacean commented on #757
@SandeepThombare, you are right, the CN is not enough, the entire subject must match the expectation of the OPC Publisher.

So there are 2 options:
1) either you create a certificate that has the following subject pattern:  "CN=Microsoft.Azure.IIoT, C=DE, S=Bav, O=Microsoft, DC=localhost", where localhost should be replaced with the hostname of the gateway running the iotedge with the publisher.

[2020-10-19 09:25] omarine opened #811 "When opcpublisher is installed on aks,i couldn't find find links to device ca certificates"
**Describe the bug**
certificates settings missing in config.yaml when iotedge runtime deployed on aks

**To Reproduce**

1. Install iotedge runtime  on aks cluster(Linux)
2. Connect to your pod/container (iotedged)
3. Navigate to /etc/iotedged and display content of the confi.yaml

**Expected behavior**
certificates settings missing

**Screenshots**

when iotedge runtime is installed on windows v

[2020-10-19 09:36] FMauroy commented on #605
Hi, here is the code snippet I added (sorry, didn't see your reply sooner):

`
    if (UseDataChangeTrigger)

        try

        {

           var filter = monitoredItem.MonitoredItem.Filter as DataChangeFilter ?? new DataChangeFilter();

            filter.Trigger = DataChangeTrigger.StatusValueTimestamp;

            monitoredItem.MonitoredItem.Filter = filter;

        }

        catch (Excep

[2020-10-19 09:54] dacolgit commented on #588
Reopen if you still have the issue.

[2020-10-19 09:54] #588 closed

[2020-10-19 13:38] barnstee commented on #710
Closing this issue due to inactivity. If you still see this issue, please reopen with additional details (full debug log).

[2020-10-19 13:45] #517 closed

[2020-10-19 14:21] dacolgit commented on #774
Hi @gregeva

What do you mean for scan rate?
Is it the rate at which node values change in the server (a scan rate of 1000 ms means a node changing his value every 1000ms ) ?

[2020-10-19 15:40] chmagitt opened #812 "Engineering Tool "Error: Cannot get gateways list" & "Run ad-hoc discovery Error: Cannot get discoverers as list""
Hello

For  demos I deployed I-IOT demonstrator using the deployment script
https://azure.github.io/Industrial-IoT/deploy/howto-deploy-all-in-one.html

Release is 2.7.199

It used to work correctly a couple of weeks ago ,  I shut down the gateway VM  and started today.

Now the engineering  tool does not list anymore the 3 gateways : 2 simulated installed with the script + 1 iot edge installed man

[2020-10-19 18:37] NadeemKhan81 opened #813 "Perf/OPC: Fails when more 468 values are added to publisher"
**Describe the bug**
Customer is using the OPC publisher and added new tags to the publishednodes.json file. He has found that as soon as he has 469 tags the code fails. Log is attached. Is this a known limitation?

This is discussed in Industrial Iot Teams channel.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expecte

[2020-10-20 06:26] markusstuhler commented on #603
I will close that issue as I didn't hear back from you. Please reopen if the issue persists.

Thanks!
Markus

[2020-10-20 06:26] #603 closed

[2020-10-20 10:44] barnstee commented on #813
Added missing attachment.
[OPC Logs.txt](https://github.com/Azure/Industrial-IoT/files/5408115/OPC.Logs.txt)

[2020-10-20 10:50] barnstee commented on #813
@NadeemKhan81, from the logs, it is only loading 468 monitored items in each case. Can you update the bug with the pn.json file, please? There seems to be an error in the last item added.

[2020-10-20 11:12] cristipogacean commented on #813
@barnstee, the pn.json is uploaded in the internal teams channel. I did not notice any syntax error in the file. If we want to upload the file we should anonymize it first.

[2020-10-20 11:18] cristipogacean commented on #813
added the actual error, and my previews feedback

[Error.txt](https://github.com/Azure/Industrial-IoT/files/5408254/Error.txt)

My hunch here the issue is a CreateMonitoredItems failure due to too many items and I believe the extensions I proposed for the standalone publisher will fix this issue by providing the user the option to control the content of subscriptions. Nevertheless it would make se

[2020-10-20 12:39] barnstee commented on #752
Closed due to inactivity. If you still experience this issue, please reopen.

[2020-10-20 12:39] #752 closed

[2020-10-20 12:46] barnstee commented on #811
OPC Publisher is not supported in IoT Edge on AKS since IoT Edge on AKS is still in preview. However, this issue has nothing to do with OPC Publisher. Please reopen this bug in https://github.com/Azure/iotedge/issues

[2020-10-20 12:46] #811 closed

[2020-10-21 02:03] NadeemKhan81 commented on #813
@barnstee, i hope you got the required pn.json from the teams channel. Please let me know if you need anything else.
Thanks @cristipogacean.

[2020-10-21 14:29] sabsher opened #816 "New Discovery Module not appearing in Engineering Tool Discovery. Proper procedure?"
I deployed the Azure Industrial Platform all-in-one using the guide found here: https://azure.github.io/Industrial-IoT/deploy/howto-deploy-all-in-one.html

All has worked well! I then deployed a new IoT Industrial gateway (on the same device where I deployed the Industrial Platform) using this guide: https://azure.github.io/Industrial-IoT/deploy/quickstart-gateway-installer.html

The deployment al

[2020-10-22 14:32] SandeepThombare commented on #757
Thanks cristipogacean for your reply. I have tried both options that you mentioned in your reply.
1.I have created the self signed certificate with same subject details as Module does(CN = Microsoft.Azure.IIoT,C = DE,S = Bav,O = Microsoft,DC = virtualbox).

Observation--> Publisher Module has moved this certificate to rejected folder and create another certificate.

2. As per second option, I have

[2020-10-22 14:51] SandeepThombare opened #818 "how to use encrypted username and password in Publishernodes.json-OPC publisher version 2.7.199"
**Describe the solution you'd like**
I want to use encrypted username and password in Publishernodes.json - OPC publisher module version 2.7.199-Standalone

I am using OPC publisher module to inject data from KEPserver to IOT Edge and IOT Hub. I have configured the Publishernodes.json file with required details of KEPserver .

I want to use encrypted username and password of KEPServer in Publisher

[2020-10-23 07:36] chmagitt commented on #816
Same issue for me ...

[2020-10-23 17:05] sabsher commented on #816
I have been unable to find any information about how to resolve. Hopefully someone is able to provide some insight!

[2020-10-23 18:33] cristipogacean commented on #757
@SandeepThombare, I did the same and works for me, so probably we're generating the certificate differently. Would you be able to generate and upload a certificate for me? or give me some more details about how you're generating your certificate?

[2020-10-26 09:35] Jan-Olof opened #827 "What version of OPC Publisher should I use?"
I want to use OPC Publisher in IoT Edge as a stand alone module. I am confused as to what version or even repository I should use? (https://github.com/Azure/iot-edge-opc-publisher or https://github.com/Azure/Industrial-IoT.)

Can you help me?

[2020-10-26 10:32] SandeepThombare commented on #757
Below steps I have used to create the self signed certificate,

Certificate creation steps:-
1. **Create RSA private key**
openssl genrsa -des3 -out server.pass.key 2048
openssl rsa -in server.pass.key -out server.key

2. **Create Certificate Signing request(CSR) utilizing the RSA private key**
openssl req -new -key server.key -out server.csr -subj /CN=Microsoft.Azure.IIoT/C=DE/ST=Bav/O=Microsoft/

[2020-10-26 10:59] barnstee commented on #827
You should always use the Link provided in the Azure Marketplace, it points to the latest and greatest version:
https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoft_iot.iotedge-opc-publisher?tab=Overview

You shouldn't use the GitHub repos at all, since we build and test the source code ourselves and provide Docker containers through the Microsoft Container Registry.

[2020-10-26 10:59] #827 closed

[2020-10-26 11:05] AlbertoCruzHidalga opened #828 "Unsupported transport profile"
**Describe the bug**
We are trying to connect OpcUA Publisher with a PCS7 OPC UA server with [None, None] SecurityMode. The server is reachable and we are able to connect with other clients. With OPC UA publisher we got this error :

 Session creation to endpoint 'opc.tpc://....' failed 9084 time(s). Please verify if server is up and Publisher configuration is correct.
Opc.Ua.ServiceResultExceptio

[2020-10-26 11:23] Jan-Olof commented on #827
Thanks a lot for your quick answer! Much appreciated!

[2020-10-26 20:56] zemmet opened #830 "Adopting ASO for provisioning prerequisites"
**Is your feature request related to a problem? Please describe.**
When using Industrial-IoT microservices in a production setting and one needs to manage multiple deployments, provisioning the prerequisite Azure resources becomes a real pain.

**Describe the solution you'd like**
Suggesting to adopt Azure's very own ASO project (https://github.com/Azure/azure-service-operator) and manage/provisio

[2020-10-27 07:07] deanwyns opened #831 "Error getting device scope result from IoTHub for OPC-UA endpoint IoT Device (Unauthorized)"
**Describe the bug**
The edge hub is unable to authorize the device against IoT Hub (connected OPC-UA endpoint).

**To Reproduce**
I am not sure how this is reproduced. IIoT gets into a state where the device is unauthorized.
We are using version **2.7.170**.

1. Connect an OPC-UA endpoint (ours has no security policy, so None)
2. Endpoint is Ready and ActivatedAndConnected
3. Publish some nodes
4

[2020-10-27 09:39] cristipogacean commented on #831
I would recommend upgrading to 2.7.199, since we fixed some issues related to device scoping running in the transparent gateway mode for the iotedge modules.

[2020-10-27 11:03] mregen commented on #828
Hi @AlbertoCruzHidalga, the fix should be simple: There is a typo in the url: Instead of `opc.tpc` it must be `opc.tcp`.
Please let me know if this is the issue.

Thanks,
Martin

[2020-10-27 11:41] cristipogacean commented on #757
@SandeepThombare ,

I think your issue is at step 5. I'm assuming you are providing a password when the pfx is generated. the OPC publisher is not aware about this password and cannot open the pfx. Can you try generating it without a password as follows:

openssl pkcs12 -export -keypbe NONE -certpbe NONE -name server -in server.der -inkey server.key -out server.pfx
and then press Enter twice when

[2020-10-27 16:13] dacolgit commented on #813
@NadeemKhan81 I started looking into the issue and I have a couple of question.
Which publisher version are you using?
I checked the publishednodes.json uploaded in the teams channel and it has 671 OpcNodes. My expectation was a publishednodes.json with 469 nodes. Is it the .json file that causes the issue?

[2020-10-27 16:50] NadeemKhan81 commented on #813
@dacolgit , Yes this json file is from customer. It works fine till 468 tags. and once it crosses the threshold of approx 468 tags, it seems to fail to establish a subscription

Regharding publisher version will check with customer and update you.

[2020-10-27 17:06] NadeemKhan81 commented on #813
@dacolgit , User configuration is set to pull the following:  mcr.microsoft.com/iotedge/opc-publisher:latest

[2020-10-28 04:41] SandeepThombare commented on #818
Hi,

I am looking for help on this topic.
Please look into this @monikavar

[2020-10-28 13:55] karok2m commented on #818
`2.7.199` version of OPC Publisher does not have a way to encrypt username and password in `published_nodes.json` file similar to `2.5.x` version, that used direct methods for setting those values. `2.7.199` does support providing username and password through `published_nodes.json` (via `OpcAuthenticationUsername` and `OpcAuthenticationPassword` fields), but they will be there in plain text. Here

[2020-10-28 17:37] SandeepThombare commented on #757
@cristipogacean thanks for reply.

I have created the certificate and pfx file without password and copied to respective folder locations.

With this certificates, module haven't created any certificate and it has used the custom certificated created using openssl. Which is good news for me.

But, when this certificate I am trying to trust on my OPC UA server(KEPserverEx 6) it is giving error "The

[2020-10-28 20:55] cristipogacean commented on #757
@SandeepThombare

Indeed, I managed to replicate this issue with the kepware server. weird is that other servers accept it...
Anyhow, I tuned the cert.ext as follows and this works for me. Would you be so kind and give it a try?

[code]

[2020-10-29 11:48] JohannesM24 opened #1208 "User authentication via certificate"
Hi,

is there any plan to add user authentication via certificate ?

Currently there is only Anonymous and UsernamePassword supported in contrast to OPC UA specifications.

https://github.com/Azure/iot-edge-opc-publisher/blob/dc6b669bcd7c45437fb1b0aacf77bfb1e98482f5/opcpublisher/OpcAuthenticationMode.cs

[2020-10-29 14:50] dacolgit commented on #813
I'm trying to reproduce the issue, but unsuccessfully.

I need all the informations about the publisher and the server.
Do you confirm that are you using a Kep Server?
If yes, can you export the device configuration of the server as csv file and upload it in the
internal teams channel?

Is the publisher running as an IoT edge module in Windows or Linux?
Could you send your 'Container Create Option

[2020-10-29 15:00] NadeemKhan81 commented on #813
Hi Daniele,
If you want I can set up a meeting with customer to understand the issue better.
Please let me know your convenient time to discuss with customer.

Could you please tell me your MS alias?

Thanks & Regards,
Nadeem Khan

Escalation Engineer | AI Intelligent Devices | Office: +1 (425) 5388510 | nadkha@microsoft.com
Mon -Fri (9:00 AM - 6:00 PM PST)

[Microsoft]

From: Daniele Colonna <not

[2020-10-30 10:11] deanwyns commented on #831
Hi

I updated the services to 2.7.199.

[code]

I cleared IoT Edge's cache and restarted, and the edge hub still reports the error:

[code]

Any clue what I can still try?

Thank you !

[2020-10-30 10:31] MkTru commented on #44
Any update on Alarms/Events support?

[2020-10-30 13:15] #828 closed

[2020-11-02 21:48] darin4brugh opened #846 "Stuck at Signing In"
New to this type of programming so probably missing something obvious.

I clone the repo then .\deploy and it starts. It then installs Az and AzureAD. It then just says Signing in .... It has been on this screen for over two hours.

I am a global admin in AAD. I also added App Admin and Cloud App Admin //not sure that matters once I am global.

I have also checked Yes in tenant properties under ac

[2020-11-03 07:25] deanwyns commented on #831
The same problem is now also happening on another device (which is running at a different location):

[code]

I thought maybe it could be the IoT Hub's message limit, but at the moment of the error it's:
Messages used today: 15728
Daily messages quota: 400000
IoT Devices: 117

[2020-11-03 10:45] dacolgit commented on #774
Closed as not able to reproduce it and had no feedback. Please reopen if it's still an issue

[2020-11-03 14:04] darin4brugh commented on #846
Let it run over nite. When I arrived today I had message
Warning '***' contains more than one active subscription. First one will be selected for further use.
Followed by
Please choose a subscription from this list. then my two subscriptions.

Its running and building now.

[2020-11-03 14:04] #846 closed

[2020-11-04 16:29] dacolgit commented on #813
The issue was caused by a bug in the --ms=0 configuration parameter.
A fix is merged in master.

[2020-11-04 16:29] #813 closed

[2020-11-04 17:41] chmagitt commented on #812
any update ?

[2020-11-05 00:37] NadeemKhan81 commented on #813
@dacolgit , Thanks for your effort on this to fix this issue. Appreatiate that.

[2020-11-05 13:15] cristipogacean commented on #757
Closing for now, please reopen if needed.

[2020-11-05 13:15] #757 closed

[2020-11-05 13:56] fijo1015 opened #1209 "Support automatic re-evaluating subscriptions on DataModelChange events (Dynamic information model and OPC Publisher)"
Hi everyone,

I am using a dynamic OPC UA information model. What I mean by dynamic is, that in the beginning the information model contains a few nodes and some methods. By calling these methods new nodes will be created. So the information model is growing while using it.
I'd like to know, if the OPC Publisher Module can handle nodes that are not present in the beginning. In the configuration fi

[2020-11-05 16:10] karok2m commented on #818
@SandeepThombare, I am closing this issue. Please reopen it if you need more information.

[2020-11-05 16:10] #818 closed

[2020-11-06 10:01] karok2m commented on #831
@deanwyns, can you please also send us the [support bundle](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#gather-debug-information-with-support-bundle-command) from this IoT Edge device ? Preferably, for at least 6 or 12 hours. It will contain the logs of all modules running on this IoT Edge device, so we can understand if OPC Publisher has started publishing telemetry or not.

The

[2020-11-06 15:21] MatthijsvdVeer opened #858 "Simulators trying to pull non-existent images"
**Describe the bug**
When deploying the full solution, the Edge VM's don't behave as expected. Not all modules are loaded. On closer inspection of the Linux agent, I noticed it's trying to pull version tag `:2.8.100` of the publisher, discovery and twin modules. The tag list for these modules don't include 2.8.100, but only the following:

    "2.8.100-alpha",
    "2.8.100-alpha-debug",
    "2.8.1

[2020-11-09 10:15] ma3goul opened #861 "Unable to register manually OPC endpoint"
Hi everyone ,

**Describe the bug**
I installed the iiot platform with it's microservices , I connected my raspberry as industrial iot gateway to an OPC UA server : all the needed modules were deployed on the raspberry .

When I try to add manually the OPC server endpoint using  postman (registry/v2/applications) , nothing appear when I try to list the applications .

I even try it on the microsof

[2020-11-09 12:05] lucarv opened #862 "Unable to select version on deployment script"
**Describe the bug**
I can’t use the version switch with the deploy script anymore. See below
$ ./deploy.sh -version "2.7.183"
Using preview version...
deploy.ps1: Cannot bind parameter because parameter 'version' is specified more than once. To provide multiple values to parameters that can accept multiple values, use the array syntax. For example, "-parameter value1,value2,value3".
**To Reproduc

[2020-11-10 11:09] koepalex commented on #862
Please try to switch branch to "release/2.7.180" and start deployment "2.7.183" script again

[2020-11-10 15:00] karok2m commented on #862
@lucarv, thanks for reporting this bug. Please use the following command as a workaround in the meantime:

[code]

`all` is the default value for `-type`, so this will produce the same deployment as in your case, without the `-type` parameter.

[2020-11-10 20:43] barnstee opened #1210 "Support IoT Hub routing of OPC UA PubSub JSON messages"
This only entails setting the content type to application/json to allow IoT Hub to interpret the message correctly.

[2020-11-11 16:42] #858 closed

[2020-11-12 09:39] karok2m commented on #862
The fix is merged into `master`.

[2020-11-12 09:39] #862 closed

[2020-11-12 13:40] perttvil opened #1211 "When running opc-publisher:2.5.4 inside iotedgehubdev-runtime, it does not detect 'RunningInIoTEdgeContext' correctly"
I am running docker container mcr.microsoft.com/iotedge/opc-publisher:2.3.3 as a module inside Iot Edge runtime.
Everything works fine with version 2.3.3.

It does not have any configuration directly to Iot Hub (no connections string) and communication to Iot Hub goes via Iot Edge runtime routes and internal modules.

If I update mcr.microsoft.com/iotedge/opc-publisher:2.3.3 to any newer version,

[2020-11-13 08:29] perttvil commented on #93
@tbn-mm were you able to fix the iotedgehubdev issue?
I'm currently having the same problem.

[2020-11-16 15:29] matthi97 opened #910 "Integration of a third party OPC UA Publisher"
**Describe the bug**
I wrote my own OPC UA PubSub Implementation according to the current specification supporting PubSub over MQTT with JSON encoding. I wanted to connect my subscriber to the azure ecosystem and visualize my data via TSI.
Steps I took:
1.	Execute the full-deployment script (.\deploy) of Azure IIoT 2.7.199
2.	Connected my OPC UA Publisher to the IoTHub following this instruction:

[2020-11-17 07:23] barnstee commented on #910
TSI doesn't currently support decoding OPC UA JSON PubSub messages. Why did you write your own OPC Publisher, rather than using ours?

[2020-11-17 09:38] cristipogacean commented on #910
This issue seem to be similar with #626.
A workaround would be to recreate the TSI environment using the correct properties(they are case sensitive).

[2020-11-18 05:33] anipuramattom opened #912 "Opcpublisher stops sending, after running for few days. Requires restart to resume telemetry"
**Describe the bug**
Opcpublisher stops sending data to cloud, after running for few days. In the log, I can see 'msg send failures' keeps increasing on every send interval. After I restart opcpublisher, data starts to flow again.

**To Reproduce**
This issue we have seen in multiple VMs. When configured high amount of tags (above 10K), and run continuously for more than 2 weeks, message send fail

[2020-11-18 11:00] barnstee commented on #910
Thanks Cristi. @matthi97 , why did you build your own Publisher?

[2020-11-18 11:30] matthi97 commented on #910
Thanks for the fast reply!
@barnstee , I built my own Publisher in another context and for another purpose. I was searching for a counter part on the subscriber side to test my compliance to the OPC UA PubSub standard.
I thought the decoding of the incoming PubSub messages is already done before the last EventHub inside a docker container or am I wrong with this assumption?
For my clarification: I

[2020-11-18 12:55] mm-mbinder commented on #858
I'm still having this issue. Deployed the full solution and the VMs try to load 2.8.103 as version for the discovery, twin and publisher modules, which does not exist in the list of tags.  Specifying the version with the -version flag didn't work either.

[2020-11-18 14:31] barnstee commented on #710
Reopening. James, thanks for the detailed logs. From these, I can see that at first, we are in-line with what you expect, i.e. we are adding about 500 monitored items per second, but after about 5 seconds, the time it takes to add 1000 notes is increased by 2 seconds every time. This is due to an in-memory list getting longer and longer. The good news is that we are currently planning OPC Publishe

[2020-11-18 15:27] nainesh72 opened #913 "Without key Walt can we run code for testing purpose on my pc"
Hi
I want to run this code locally, with out key Walt, How i run this code for testing, what i write in .env file so i run this code from my pc for testing purport like i want test only individual module discovery, twin,

[2020-11-18 16:09] barnstee commented on #910
Correct, the OPC UA PubSub JSON message is in fact decoded by the event processor, I wasn't sure if you were using that. If your message format is 100% OPC UA PubSub spec compliant I can't tell you of course, but the fact that the event processor can decode it and you end up with messages in TSI is a good sign. If you follow the recommendation in #626 and you get the full fidelity messages, you're

[2020-11-19 04:19] jmbrunskill commented on #710
Thanks @barnstee,
We look forward to trying out version 3.0

[2020-11-19 08:01] barnstee commented on #912
This happens when the call to the IoT Hub client SDK SendEventAsync() fails. If this happens after 2 weeks, it usually indicates an issue with the Internet connection to the cloud or perhaps it is possible that you ran out of IoT Hub quota?

[2020-11-19 10:25] karok2m commented on #913
@nainesh72, our microservices require a few Azure resources even for running them locally. Please check the documentation bellow, which will walk you through deployment of required azure resources for local development. It will also generate `.env` file that you can use.
- [Deploying Azure Resources for local Development](https://github.com/Azure/Industrial-IoT/blob/master/docs/deploy/howto-deploy

[2020-11-19 17:58] nainesh72 commented on #913
Thanks

[2020-11-19 17:58] #913 closed

[2020-11-20 15:11] arfontai opened #920 "Deployment issue - deploy.ps formatting"
I've cloned the repo and get this error when I try to execute the deploy script.
It seems there is a formatting issue in the deploy.ps1 file

PS C:\dev\Industrial-IoT> .\deploy
Az installed.
AzureAD installed.

At C:\dev\Industrial-IoT\deploy\scripts\deploy.ps1:1162 char:27
Write-Host "Signing in ..."
The string is missing the terminator: ".

At C:\dev\Industrial-IoT\deploy\scripts\deploy.ps1:1175

[2020-11-24 07:54] barnstee commented on #912
Closing due to no activity. Please reopen if this is still an issue.

[2020-11-24 16:18] nainesh72 commented on #920
Hi
I have Same Problem
PS C:\Industrial-IoT> .\deploy
Az installed.
AzureAD installed.
At C:\Industrial-IoT\deploy\scripts\deploy.ps1:1162 char:27
+ Write-Host "Signing in ..."
+                           ~
The string is missing the terminator: ".
At C:\Industrial-IoT\deploy\scripts\deploy.ps1:1175 char:1
+
Missing closing ')' in expression.
At C:\Industrial-IoT\deploy\scripts\deploy.ps1:1001 char

[2020-11-25 10:05] karok2m commented on #858
@mm-mbinder, please use our latest release for deployments, which is `2.7.199`. To do that:
* Checkout `release/2.7.199` branch.
* Deploy the platform and specify the version to be deployed in command line:

  For windows:
[code]

  For Linux
[code]

[2020-11-25 17:31] arfontai opened #932 "authTenantId parameter ignored"
To deploy a POC, I followed the option 3 proposed in the documentation, relying on a personal AAD Tenant, where we can have  adminrights to be able to create App Registration in a proper way.

However, where I run the following command my new AAD TenantId is ignored and the 3 App Registrations are created under my Corporate Tenant, with an authentication issue behind.

**./deploy.sh -tenantId "<my

[2020-11-25 18:50] gregeva opened #933 "opc-publisher:2.8.2 not found: manifest unknown: manifest tagged by "2.8.2" is not found"
**Describe the bug**
I am trying to deploy another IoT Edge in order to test Azure Industrial IoT with realistic emulated data from a series of production lines; however when I connect up a new IoT Edge I am getting this error from edgeAgent saying that it cannot find the opc-publisher module to deploy.

I have not touched my installation otherwise, and the deployment manifest is OOTB from the doc

[2020-11-26 15:21] mitkox commented on #920
Same issue here with 2.7.199. Have try to checkout the release and deploy from the 2.7.199 directory again without success.

1.	clone the repo
2.	checkout release/2.7.199 branch if you want to deploy 2.7.199 version
3.	run the following command to deploy:
.\deploy -type all -version 2.7.199

Doesn't work.

[2020-11-27 10:58] barnstee commented on #933
OPC Publisher version 2.8.2 has not been officially released yet and was uploaded to the MCR by accident. We removed it again. The latest released version is 2.7.199.

[2020-11-27 12:56] anipuramattom commented on #912
Barnstee, this happened again on other VM recently.. I don't see any Hub quota issue. We were receiving data from other servers.
Regarding internet connection issue, we had confirmed that there was internet connection at the time of above log generated. i.e @ 11/16/2020 07:02:00 where as last successful msg was sent @ 11/15/2020 02:24:35.
The message again started flowing soon after we restarted o

[2020-11-27 12:58] anipuramattom commented on #912
the point to be noted that **The message again started flowing soon after we restarted opcpublisher.**

[2020-11-27 13:01] barnstee commented on #912
ok, I will try to repro locally.

[2020-11-27 14:53] gregeva commented on #933
I understand what happened then, but the next question is how to fix it?

The layered deployment coming from the application has the deployment version at 2.8.2; so I would imagine that this deployment manifest needs to be rolled back as well, no?  (attached)

The problem is that all of the IoT Edge agents are being told to use a version of the OPC Publisher that is not there.

From: Erich Barnste

[2020-11-27 17:06] barnstee commented on #933
Right, we fixed this in master last week, please clone and try deployment again, specifying the -version parameter set to 2.7.199.

[2020-11-30 10:04] martin-weber opened #1212 "Suggestion: Group Monitored Items in one structure in standalone publisher with possibility of trigger"
For our use cases we need a set of data points sampled and published in the same message.
Additional, it would be great if all the nodes are publishing when a certain endpoint changes, for example a boolean switching from false to true.

## Grouping

We would like to be able to group nodes in the publishednodes.json config file of the standalone publisher.
The configuration could then look like th

[2020-11-30 10:19] fbeltrao opened #1213 "Suggestion: be able to track the active publishednodes.json file version"
In a scenario where an external component is managing the subscription items by modifying the `publishednodes.json` file it would be great to be able to track the version current in use by OPC Publisher.

A possible solution would be to add metadata to the publishednodes.json file with a version number, for example:

[code]

Ways to report the current configuration version (not mutual exclusive):

[2020-11-30 15:57] gregeva commented on #933
I installed version 2.7.170 when I did my installation a few months ago.

Now when I check I have version 2.8.2 running everywhere - except this new IoT Edge that I tried to add last week.

I didn't see anything about an auto-upgrade, but this looks to be what happened.  Can you confirm?  Can you point me to documentation?

[2020-11-30 18:05] barnstee commented on #933
if you have "latest" specified in your container deploy options, you will always get the latest version, yes. The latest version should have been set to 2.7.199.

[2020-12-02 17:55] tbn-mm commented on #93
@perttvil No, but haven't tried for over a year.

[2020-12-05 02:22] SandeepThombare opened #956 "Telemetry data - OPC publisher version 2.7"
Hi,
I am trying to get "EndpointId" field in "ExtensionFields" of telemetry data using standalone OPC publisher module 2.7.

I am expecting data model as shown below,
 **{
    "NodeId": "nsu=ThingWorx Industrial Connectivity;s=Sim.PLC.Ramp1",
    "EndpointUrl": "opc.tcp://192.1.4.4:49320/",
    "ApplicationUri": "urn:opcua:PTC.ThingWorxIC.1:UA%20Server",
    "DisplayName": "Ramp1",
    "Timestamp"

[2020-12-07 07:24] anipuramattom commented on #912
Is there any update on this issue.
We are running our production service in 5 VMs and often getting issues from one or other VMs.

[2020-12-07 10:47] karok2m commented on #933
@gregeva, when deploying a specific version please make sure to be on a release branch corresponding to that version before you run the deployment. That is, if you want to deploy `2.7.199` version, you need to deploy it from `release/2.7.199` branch. Please note that you will still need to specify the version in command line:

[code]

[2020-12-07 11:38] gregeva commented on #933
This is very interesting and important information @karok2m .  This is not what our development/product management team have understood - meaning that our installation documentation is wrong as we have understood that applying the -version tag is all that was required.

http://support.ptc.com/help/thingworx/azure_connector_scm/en/#page/thingworx_scm_azure%2Fopc_ua%2Fc_setup_azure_infrastructure.ht

[2020-12-07 20:02] PayalDodeja opened #958 "Updating Device Twin for IoTDevice doesn't update values in GetEndpoint API"
**I am trying to add a new tag under IoT Device's Device Twin and see that value to be reflected on postman when I run the following API **:
**`https://{{OPC-SERVICEURL}}/registry/v2/endpoints/uatXXXXXXXXXXXXXXXXXXXXX/ [ GET Call]`**
 I tried to add it under both "tags" and "desired properties" and it does make change on the portal but doesn't update the json in postman response.

**To Reproduce**

[2020-12-07 23:54] barnstee commented on #933
Reopening as there is no info (a video) now available and a separate internal bug was opened

[2020-12-07 23:58] barnstee commented on #933
@gregeva , I watched the video, thanks for providing. The issue is that the new test deployment setup is from master branch instead of from our release branch. We use master for integration, NOT as a latest release. Please always deploy from one of our release branches. Our documentation also calls this out on the main readme "Releases of the Platform".

To fix the deployment you have (using HELM)

[2020-12-08 08:26] barnstee commented on #933
And to answer your question, @gregeva , yes, please update your docs accordingly. I am closing this issue. Please reopen if there is still questions in relation to this.

[2020-12-08 08:26] #933 closed

[2020-12-08 11:19] barnstee commented on #956
Closing as a dupe of https://github.com/Azure/iot-edge-opc-publisher/issues/282

[2020-12-08 11:19] #956 closed

[2020-12-08 15:24] karok2m commented on #933
@gregeva, I've been going over the documentation that you have and I finally understand how version `2.8.2` got deployed into your AKS cluster. So, actually, all microservice that have been deployed to AKS had version `2.8.2` in your case. And you can see this in your AKS deployment as well, you checked (in the video) tags of `aiiot-event-processor` deployment and you saw `app.kubernetes.io/versio

[2020-12-08 15:58] barnstee commented on #912
Still working on a repro. Next time it happens, please collect the edge logs via the "iotedge support-bundle" command and send them to me, please.

[2020-12-08 18:55] gregeva commented on #933
This is really great clarification!  Thanks a lot @barnstee and @karok2m .  I will implement your suggestions tomorrow to get back to where I should be, and then will work with our product management and documentation teams to get our documentation and training material updated.

[2020-12-08 22:56] barnstee commented on #933
Awesome, good luck! 👍

[2020-12-09 13:44] gregeva commented on #933
I've added the image tag with the version to the aiiot.yaml and did an upgrade of the application and confirm that it took the change and put the appropriate versions in place as well as got the correct deployment manifests.

`helm upgrade aiiot --namespace aiiot .\deploy\helm\azure-industrial-iot\ -f aiiot.yaml`

Considering that I want to get this working to your production standard, I then unin

[2020-12-09 17:20] achu152 opened #967 "Info Required - How to setup custom names for the IIOT components per organization standard instead of automatically generated names"

[2020-12-09 21:54] gregeva commented on #774
Yes, I validate still seeing this issue and it is quite easy to reproduce.  See recorded video as well as captures from the test.

https://youtu.be/1X2tPwXlCOA
https://drive.google.com/file/d/1r6yfWA4DPVdb33GN7B8CIwQxzxGdfHOr/view?usp=sharing

[2020-12-10 14:13] goetae commented on #912
Hello
I'm testing various Azure features as well and I have experienced the same behavior - the module was running fine and at some point stopped transporting data without any error.

I used the Marketplace Version: 2.5.4
I configured about 10 variables that get fetched every second and sent to iot-hub every 10 seconds.

The last diagnostic entry, before I restarted the service.

[code]

Before se

[2020-12-10 15:25] barnstee commented on #933
OK, good, LMK how it goes. Batching config changed between 170 and 183, please see release notes.

[2020-12-10 16:36] gregeva commented on #933
+@chmagitt

[2020-12-10 17:38] karok2m commented on #933
@gregeva, a small clarification: value for `app.kubernetes.io/version: 2.8.2` tag (and `helm.sh/chart: azure-industrial-iot-0.4.0`) actually comes from metadata of the chart and not the value of `image:tag`. But since you have not specified an `image:tag`, they would have had the same value, which is `2.8.2`. The best way to get image version would actually be by using `kubectl describe` for one o

[2020-12-10 23:03] wkoschen opened #973 "Microservices fail to recover after a manual/automatic IoT Hub failover"
**Describe the bug**
Was testing the high-availability failover feature on the IoT hub.  Microservices were failing after the failover completed and did not recover.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the IoT hub in Azure portal and initiate a manual failover
2. Wait for failover to complete
3. Observe state of microservices

**Expected behavior**
Since the failover is a b

[2020-12-11 14:09] karok2m commented on #967
@achu152, are you taking about components of IIoT platform that are deployed using `azure-industrial-iot` Helm chart ? Or are you using some other deployment method ?

[2020-12-11 15:44] #831 closed

[2020-12-11 15:44] marcschier commented on #831
Will release in 2.7.2xxx some time early Jan.

[2020-12-11 16:04] gregeva commented on #933
Hi @karok2m .  I did actually run the commands as you've stated here; I just made a mistake when pasting them into the comments here.  I actually had to reinstall using the Git repo Helm chart deployment as the application was no longer showing up in Helm for upgrade/uninstall.... this way I was able to uninstall it.. and then reinstall it using these 3 helm commands that you mentioned.  I'm going

[2020-12-11 16:21] logg-sar opened #977 "iotedge different error messages"
**Describe the bug**
Iotedge doesnt start on Ubuntu 18.04

**To Reproduce**
Steps to reproduce the behavior:
1. Created a Ubuntu 18.04-based VM
2. Installed powershell
3. Installed according to this guide (https://docs.microsoft.com/de-de/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06&tabs=linux)
4. running iotedge check --verbose

**Expected behavior**
No error messages.

**Screensho

[2020-12-11 17:33] karok2m commented on #977
@logg-sar, this is GitHub repo for Industrial IoT components. You are facing an issue with installation of IoT Edge runtime. Please file your issue in the IoT Edge teams GitHub repo: https://github.com/Azure/iotedge

[2020-12-11 17:33] #977 closed

[2020-12-11 19:49] wkoschen commented on #973
We're trying to repair that environment now.  We thought updating the endpoint in the keyvault would do the trick but now we see the following.  Tried creating new key and redeploying the chart with explicit values but no luck.  Not sure what is "Unauthorized".

This is from the telemetry-cdm-processor logs.

Unhandled exception. Microsoft.Azure.EventHubs.Processor.EventProcessorConfigurationExcep

[2020-12-14 09:46] fbeltrao opened #1214 "Feature request: Replace published nodes using a single direct method"
To support a scenario where publisher configuration is stored in an external system it would be great to replace the published nodes using direct methods.
Instead of making multiple add/remove node calls a single direct method call would set all the desired nodes to be published.

More details:
* Monitored items would be published using the module identity.
* Direct method call to replace publishe

[2020-12-14 16:54] karok2m commented on #973
@wkoschen, unfortunately this functionality is not supported at the moment, as the value of Event Hub-compatible endpoint is passed to the chart. So if the value is changed after failover of IoT Hub, then IIoT platform will not be able to automatically pick it up.

The secret in Key Vault that stores the value for Event Hub-compatible endpoint is called `pcs-iothub-eventhubendpoint`. If you update

[2020-12-15 06:26] yang-cy-94 opened #980 ""Twin not authorized using given secret" error for OPC Twin module when connecting to kepware"
**Describe the bug**
having issue when connecting OPC Twin to kepware.
an OPC Publisher module and OPC Twin module are deployed in and edge device (edge device is deployed as a transparent gateway with OS Ubuntu 18.04), OPC Publisher is able to connect to the kepware but OPC Twin is having authentication issue. edge device root certificate is added into the kepware trusted root store. reference li

[2020-12-15 06:29] yang-cy-94 commented on #980
please check support_bundle:
[support_bundle (3).zip](https://github.com/Azure/Industrial-IoT/files/5693751/support_bundle.3.zip)

[2020-12-15 06:44] achu152 commented on #967
@karok2m  :  Trying to deploy IIOT components via windows command line [.\deploy -version <version>] . The name of the components (ex: IOT Hub ,Keyvault etc)  created currently is as per a certain logic . Where exactly can i make changes to the script so as to create custom names?
Tried giving a custom name as below in azuredeploy.minimum.json file . However , it does not work and still taking the

[2020-12-17 12:43] barnstee commented on #912
Right on the money, @goetae , I also noticed the lack of exception log output when an IoT Hub or Edge Hub exception occurs. I've added this to a new 2.5.4 release branch, see check-in here: https://github.com/Azure/Industrial-IoT/commit/1592af31d407ec928562a7aaedb22b1a05ccc00e
The latest version of OPC Publisher is always marked by the "latest" tag, right now this points to 2.7.199. However, the l

[2020-12-17 22:54] barnstee commented on #912
OK, the release is done, please try out 2.5.4: mcr.microsoft.com/iotedge/opc-publisher:2.5.4

[2020-12-18 06:29] nadeem4 opened #988 "Unable to Authorize Swagger UI"
**Describe the bug**
I am unable to Authorize Swagger. It is saying that  ""error":"invalid_resource","error_description":"AADSTS500011:+The+resource+principal+named+https://xxxxxxxxxxxxxxx/<azure_ad_app_name>/+was+not+found+in+the+tenant+named+<tenant>.+This+can+happen+if+the+application+has+not+been+installed+by+the+administrator+of+the+tenant+or+consented+to+by+any+user+in+the+tenant.+You+might

[2020-12-18 14:57] nainesh72 opened #989 "Deployment Issue with script when type is app"
Hi
when i deploy solution using script with type="app" in midge of deployment scrip give following error
8:41:38 AM - Resource Microsoft.Kusto/clusters 'kusto5fammb' failed with message '{
  "error": {
    "code": "SubscriptionNotRegistered",
    "message": "The subscription '32142aa7-078f-46f6-8dab-9e418a16dae2' is not registered."
  }
}'
when i check in my subscription  Microsoft.Kusto/clusters

[2020-12-18 15:59] nainesh72 opened #990 "Installation Document"
Hi Expert
I need simple step by step Document that i deploy this solution in to clouds please share because here are too many way to  deploy this solution but it will be confuse please any one have idea or step to deploy this soution in to cloud without sumulation and edge device
Thanks
on old version of repository(Release 2.7.182) there is one pdf but it now old so please
Thanks

**Describe the b

[2020-12-22 22:35] PayalDodeja opened #992 "Telemetry message count is not in sync for every Batch having same Scan Rate - OPCUA"
**Describe the bug**
Different batches with same scan rate have different Message Count

**To Reproduce**
Steps to reproduce the behavior:
1. Publish the node with with following publishing interval and sampling interval **[ Scan Rate]**

2. Now telemetry messages should start flowing in and every batch should contain just 1 message

3. If you change the publishing interval and sampling interval *

[2020-12-23 10:20] sagarganachari opened #993 "microsoft.Azure.IIoT.Agent.Framework.Agent.Worker] Could not send worker heartbeat"
**Describe the bug**
A clear and concise description of what the bug is.

**Microsoft.Azure.IIoT.Agent.Framework.Agent.Worker] Could not send worker heartbeat.
Microsoft.Azure.IIoT.Exceptions.InvalidConfigurationException: Job orchestrator not configured
   at Microsoft.Azure.IIoT.OpcUa.Api.Publisher.Clients.PublisherOrchestratorClient.SendHeartbeatAsync(HeartbeatModel heartbeat, CancellationToken

[2020-12-23 14:16] nadeem4 commented on #988
Does anybody face a similar issue?

[2020-12-24 07:12] sagarganachari commented on #993
is some one face same issue?? please let me know

[2020-12-28 13:13] marcschier commented on #993
Publisher module needs the url for the orchestration services to work, the url is passed to the module via its twin from the service.   If the service is not running (e.g. not started, or stopped) then it will not yet have been set.   Ensure the service is running and wait until the twin setting was written and synchronized with the module.   This can take a couple minutes initially.   If the serv

[2020-12-28 13:33] sagarganachari commented on #993
Thanks marcschier ,,i have json file in the edge like this

  {
    "EndpointUrl": "opc.tcp://192.168.10.230:4840",
       "OpcNodes": [
      {
        "Identifier": "ns=4,i=20",
        "OpcSamplingInterval": 2000,
        "OpcPublishingInterval": 2000,
        "DisplayName": "Temperature",
        "HeartbeatInterval": 2

       }
    ]
  }

and in container create option
OPC Publisher container

[2020-12-29 05:45] anipuramattom commented on #912
@barnstee , thank you. We have updated to v2.5.4. Will update you on this. It's working fine for the last one week.

[2021-01-04 10:57] monikavar commented on #993
Here is the duplicate issue : https://github.com/Azure/iot-edge-opc-publisher/issues/280

[2021-01-04 10:57] #993 closed

[2021-01-04 11:19] sagarganachari commented on #993
its not closed yet still i am facing the issue @monikavar

[2021-01-04 14:27] jaypaddy opened #995 "Deployment scripts fails on Macbook"
**Describe the bug**
I cloned the repo - release/2.7.200 onto my macbook. started execution of deploy.sh
./deploy.sh -version latest

Got the following error
/Users/jaypaddy/Source/Industrial-IoT/deploy/scripts/deploy.ps1 : Cannot bind parameter because parameter 'version' is specified more than once. To provide multiple values to parameters that can accept multiple values, use the array syntax. F

[2021-01-05 15:52] mregen commented on #992
Hi @PayalDodeja, I need more information about your setup.
-Which version are you using?
-orchestrated or standalone mode?
-samples or pubsub encoding?

[2021-01-07 17:45] ma3goul opened #996 "OPC TWIN Method call"
**Describe the bug**
I am trying to call OPC ua method using an Opc twin module deployed on a raspberry3 , The OPC UA server is running on a siemens S7-1500 PLC . On the OPC UA server I developed a simple function block that has a struct output containing a bool , an integer and an DTL : I succeeded to call this method using the twin microservices.
But when I tried to set an output : struct of str

[2021-01-07 21:55] dvanlaerhoven opened #1085 "ARM32V7: Not supported anymore"
Hi All!

I've used the OPCPublisher module this summer with succes on an arm32v7 device.
I believe I've done the same thing, but now I get:

[code]

Is arm32v7 not longer supported? I could not find a decapitated message.
Can I build the image myself, what base image should I take?

With Kinds regards

Dries

[2021-01-08 11:08] JorgeSilvaPGStreamPT opened #998 "Error occurred while executing SetApplication"
Running the deployment script, I encounter the following error:

WARNING: Service principal Microsoft Graph not found.

An error occurred: Error occurred while executing SetApplication
Code: Request_BadRequest
Message: Property requiredResourceAccess.resourceAccess value is required but is empty or missing.
RequestId: 6a565244-9f24-4969-8493-b06ec6f0b569
DateTimeStamp: Fri, 08 Jan 2021 10:44:34 GM

[2021-01-08 14:12] cristipogacean commented on #996
Custom structure datatypes are generally supported in the opc twin. From the exception it looks like there is a issue loading the dictionaries from the specific OPC UA server
We have seen issues in the past with the complex types dictionaries of S7-1500. Would you have a chance to update the firmware on the S7-1500?

[2021-01-11 05:57] sagarganachari commented on #996
@ma3goul  S71500 as OPC UA server able to send data tor IOT hub using OPC Publisher,

But now i need send command from IoT hub to OPC UA server S71500 PLC, I configured OPC Twin Module but how this can be achieved......

[2021-01-13 09:40] Haeavar opened #1004 "Configured DataSetWriterId ist not applied"
If I configure the DataSetWriterId in the publishednodes.json, this is not applied to the publisher _DataSetMessage_ property _DataSetWriterId_ (PubSub format). Same issue for the DataSetWriterGroup. I would assume, that this will be applied to the _DataSetWriterGroup_ of the _NetworkMessage_.

This is my publishednodes.json configuration:
[code]

These are my container create options of the publi

[2021-01-13 09:52] Haeavar opened #1005 "Reversible encoding support: OPC UA datatypes cannot be decoded with the pubsub json format"
**Describe the bug**
If we subscribe e.g. the _ServerStatus_ node (i=2256) of an OPC UA server we can't decode its value using the _JsonDecoderEx_ implementation.

`                    var decoder = new JsonDecoderEx(input.Body.AsStream());
                    while (decoder.ReadEncodeable(null, typeof(NetworkMessage)) is NetworkMessage message)
...
`

The value of the corresponding payload entry

[2021-01-13 09:56] Haeavar opened #1006 "HowTo for debugging the opc ua publisher module"
Is there any documentation available on how to debug the OPC UA publisher module?

[2021-01-13 10:04] mitkox opened #1007 "The deployment script of 2.7.206 doesn't work"
**Describe the bug**
The deployment script for 2.7.206 doesn't work when following the insutrctions.

**To Reproduce**
Steps to reproduce the behavior:
1.run ./deploy.sh -version 2.7.206

**Expected behavior**
The installation follows the steps

**Screenshots**
root@IoTEdge:/home/AzureUser/dev/Industrial-IoT# ./deploy.sh -version 2.7.206
Using '2.7.206' version...
Exception: /home/AzureUser/dev/In

[2021-01-13 10:23] cristipogacean commented on #996
@ma3goul would you be able to share a bit more part of the logs so we can get a bit more context on this issue?

[2021-01-14 18:14] gregeva opened #1011 "How do I set a node subscription to publish on data change?"
**Is your feature request related to a problem? Please describe.**
The classic approach for most uses in a same facility is to poll data on set intervals.  When we move to geographically distributed supervision where latency, bandwidth, and limited bytes sent becomes a constraint then publish on data change becomes the option of choice.

I've only found how to create node subscriptions using a tim

[2021-01-14 18:46] gregeva opened #1012 "nginx-ingress installation instructions reference deprecated repo"
**Describe the bug**
The [documentation for deploying the nginx ingress controller](https://github.com/Azure/Industrial-IoT/blob/master/docs/deploy/howto-add-aks-to-ps1.md#deploy-ingress-nginx-helm-chart) references a deprecated repository and needs to be updated to its replacement.

**To Repair**
Replace the https://kubernetes.github.io/ingress-nginx address with https://charts.helm.sh/stable

**

[2021-01-15 09:29] marcschier commented on #1007
Hi @mitkix, did you download the release.zip or run the deploy.sh file from a cloned git repo?   We only support the latter right now, but are working on the former.   If the latter is what you are using, I will mark this as bug, if not, capture it as part of upcoming release.

[2021-01-15 10:58] barnstee commented on #912
Closing due to inactivity. If it happens again, just reopen it.

[2021-01-15 11:19] barnstee commented on #995
Mac OS is not supported.

[2021-01-15 11:19] #995 closed

[2021-01-15 11:24] barnstee commented on #1011
Triggering on data changes is the default for OPC Publisher for published nodes, so this is enabled already. If you additionally want data that hasn't changed on set intervals, this is done by configuring a Heartbeat.

[2021-01-15 11:24] #1011 closed

[2021-01-15 11:48] gregeva commented on #1011
Thanks @barnstee - could you clarify what you mean by configuring a heartbeat?  I can't imagine that if I had a 10 second heartbeat tag that it would also publish current values from the other tags which have not changed.

[2021-01-15 12:05] mitkox commented on #1007
Hi @marcschier I have ran deploy.sh from the cloned repo following the deployment guide steps.

root@IoTEdge:/home/AzureUser/devs# git clone -b 2.7.206 https://github.com/Azure/Industrial-IoT
Cloning into 'Industrial-IoT'...
remote: Enumerating objects: 378, done.
remote: Counting objects: 100% (378/378), done.
remote: Compressing objects: 100% (240/240), done.
remote: Total 46979 (delta 214), reu

[2021-01-15 12:09] barnstee commented on #1005
I can confirm that this is fixed in the latest version of OPC Publisher currently under development and produces the following JSON pyload for node ID 2256 (ServerStatus):
"ServerStatus": {
  "Value": {
    "Type": 22,
    "Body": {
      "TypeId": {
        "Id": 862
      },
      "Body": {
        "StartTime": "2021-01-15T11:30:18.4093264Z",
        "CurrentTime": "2021-01-15T11:30:24.1766754Z"

[2021-01-15 12:20] barnstee commented on #1011
See docs here: https://github.com/azure/iot-edge-opc-publisher#configuration-via-configuration-file

[2021-01-15 14:37] JorgeSilvaPGStreamPT commented on #998
I made some confusion with the AAD's being used.
Problem doesn't exist.

[2021-01-15 14:37] #998 closed

[2021-01-16 11:40] subbu-ai opened #1215 "2.7.206 (latest) version taking MqttOverTcp as default"
I switched to 2.7.206 (latest).  But my default transport connection is showing:
[20:09:39 INF Microsoft.Azure.IIoT.Module.Framework.Client.IoTSdkFactory] Connecting all clients to devcgedge01 using MqttOverTcp.

I expect to connect as AmqpOverTcp.  Please let me know where is the issue?

[2021-01-17 06:06] sagarganachari opened #1014 "Cloud to edge ,edge to cloud telemetry transfer dash board options"
Presently I setup OPCUA Server communication with Edge device and sending data to IoT Hub, Displaying data in Power BI using Stream analytics.

Now we have requirement of both way transfer of OPCUA data points with edge and IoT Hub .
To visualize ,control the variables of  opcua in IoT Hub,for that which dashboard we can use.

OPC UA Server <<<>>>>>Edge Device<<<<<>>>>>>IoT Hub<<<<>>>>>>Dash board

[2021-01-18 04:25] subbu-ai opened #1216 "How to override to send values even they are not changed?"
My OPCPublisher version is 2.7.206.  I understand the default behaviour of the OPCPublisher is send only changed values.  How to send the values even if they are not changed.

[2021-01-19 10:54] monikavar commented on #992
Closing due to inactivity. If there is an issue, please re-open.

[2021-01-19 11:49] barnstee commented on #1014
Have a look at the Twin Module, it allows 2 way communication.

[2021-01-19 11:49] #1014 closed

[2021-01-19 11:51] sagarganachari commented on #1014
To visualize ,control the variables of opcua in IoT Hub,for that which dashboard we can use????

[2021-01-19 11:58] barnstee commented on #1014
https://github.com/Azure/Industrial-IoT/blob/master/docs/tutorials/tut-publish-data.md

[2021-01-19 14:52] PayalDodeja commented on #992
Hello @mregen  , apologies for very late  response to your question above.
To answer them now:
-Which version are you using? ---->  **this would be 2.7.183 version of publisher module**
-orchestrated or standalone mode? ------> **orchestrated**
-samples or pubsub encoding? --------> **pubsub as far as I know because we are using default config .... I am not quite aware of samples encoding**

@moni

[2021-01-20 07:11] achu152 commented on #1007
Hi Team ,
Facing a similar issue as stated above. can you please let us know which should be the latest stable version to be used
we were using 2.7.130 before . however the version doesn't seem to be available now.

Az installed.
AzureAD installed.
Using '2.7.206' version...
This script requires *git* to be installed and must be run from within a branch of the Industrial IoT repository. See the de

[2021-01-20 10:52] aleducq opened #1018 "IoT Edge publisher Issue"
[support_bundle.zip](https://github.com/Azure/Industrial-IoT/files/5842645/support_bundle.zip)
Discover module and Twin module are OK (can add application, publish node and read value through twin module)
publisher is running but don't upload telemetry data.

<img width="1425" alt="schema_config_aiiot" src="https://user-images.githubusercontent.com/77726779/105164437-6ca31500-5b15-11eb-9c11-d0fdab

[2021-01-20 11:13] karok2m commented on #1007
@mitkox, @achu152, please also make sure that you run the script from `release/2.7.206` branch. So you would have to run the following command from within the repo before starting the deployment:

[code]

[2021-01-20 11:40] karok2m commented on #1012
@gregeva, please note that https://charts.helm.sh/stable/ states that the repo is deprecated, please see [status of the project](https://github.com/helm/charts/blob/master/README.md#status-of-the-project) and [deprecation timeline](https://github.com/helm/charts/blob/master/README.md#deprecation-timeline) under **Contributing**. And both NGINX Ingress Controller's [Installation Guide Using Helm](h

[2021-01-20 11:40] #1012 closed

[2021-01-20 12:36] achu152 commented on #1007
@karok2m thanks !. It works now

[2021-01-20 13:26] achu152 commented on #1007
@karok2m . The services got deployed as expected . However i received below msg to add the urls manually . can you please let me know where exactly these needs to be configured ? was this part to be executed by the script automatically

###########################################################
Registering reply urls for 92702c71-536b-4968-8c7b-8669f3ab9ec6...
Insufficient privileges to complete

[2021-01-21 02:17] CancanTang opened #1019 "Failed to launch the app with error :Storage configuration is missing in your configuration for dataprotection to store all keys across all instances."
Failed to launch the app with error :Storage configuration is missing in your configuration for dataprotection to store all keys across all instances.

**Steps to reproduce the behavior:**
1. git clone https://github.com/Azure/Industrial-IoT
2. cd to "master/samples/src/Microsoft.Azure.IIoT.App/src"
3. dotnet publish
4. launch Microsoft.Azure.IIoT.App.exe
5. open "https://localhost:5001" by edge

[2021-01-21 08:27] aleducq commented on #1018
Just adding information...
When I want to monitor to the iothub using VSCode, I can see the 2 iotedges, connected and modules are running.
The endpoints application are green meaning they are connected too
But the DataSetWriterV2 endpoints are not connected
![VSCode_status](https://user-images.githubusercontent.com/77726779/105322354-0ed00500-5bc9-11eb-8ba2-de28969b2152.png)

In the publisher logs

[2021-01-21 14:11] BrentHumphreys commented on #1019
The solution expects several configuration parameters.  You can pass these any number of ways, but environment variable is one common means to do it.   You will need to provision the necessary Azure infrastructure to do this as well.

[2021-01-21 14:15] jehona-m commented on #1004
@Haeavar  which version are you using?

[2021-01-21 15:38] karok2m commented on #1007
@mitkox, does selecting the `release/2.7.206` branch solve the issue for you as well ? Or are you seeing some other errors ?

[2021-01-21 16:09] mitkox commented on #1007
@karok2m yes thank you it works! Please update the deployment guide with the checkout step. I got two more customers failing in the same issue.

[2021-01-22 02:31] jiangzeng01 commented on #1019
@BrentHumphreys Thanks for suggestion

[2021-01-22 09:06] Haeavar commented on #1004
@jehona-m we are using the version "mcr.microsoft.com/iotedge/opc-publisher:2.7.199"
As additional info. The pubsub message format looks like following the. Where the DataSetWriterId contains the EndpointUrl from the above configuration (without the port :4840).
`{
  "body": [
    {
      "MessageId": "88418",
      "MessageType": "ua-data",
      "PublisherId": "Standalone_vra01msiot5_publisher",

[2021-01-22 13:01] koepalex commented on #1004
@Haeavar the bug has been fixed on the main branch. You can try the preview build `2.8.142-alpha` to verify that it is working as expected.

[2021-01-25 09:45] Haeavar commented on #1004
@koepalex someone has removed all non-tagged versions from https://mcr.microsoft.com/v2/iotedge/opc-publisher/tags/list .
How can I pull the version `2.8.142-alpha`?

[2021-01-25 14:44] karok2m commented on #1018
@aleducq, can you please try the same setup with our latest release, `2.7.206` ?

[2021-01-27 08:13] marcschier commented on #1019
Hi @CancanTang - Deploying the app directly to App service is not supported.   It requires the micro services and dependent Azure services to be deployed.  The deployment of the solution is documented in the docs in this repo.   If you want to run locally you can follow the steps [here](https://github.com/Azure/Industrial-IoT/blob/master/docs/deploy/howto-deploy-local.md).  There are also instruct

[2021-01-27 08:13] #1019 closed

[2021-01-27 08:47] koepalex commented on #1004
@Haeavar as you already figured the version was removed from mcr. There will be in the future no pre-releases (from this repository) on mcr anymore. Therefor you need either to build main branch and test it locally or for production wait for the next release (from main branch).

[2021-01-27 13:42] karok2m commented on #1007
I've updated the [documentation](https://github.com/Azure/Industrial-IoT/blob/release%2F2.7.206/docs/deploy/howto-deploy-all-in-one.md) for `release/2.7.206` branch to mention cloning the repo using the release branch.

[2021-01-27 13:42] #1007 closed

[2021-01-27 16:00] aleducq commented on #1018
Hello @karok2m , In fact we couldn't use this version because the only release validated by PTC for OPC UA encapsulation is the `2.7.182`...
By curiousity, I've tried the `2.7.199` (which is in the approval process on PTC side) on the test PC environment and it seems OK. The gateway communicate only on 443 port.

Regarding the DataSetWriter connection issue, it was due to the fact that the `JobOrc

[2021-01-27 16:01] #1018 closed

[2021-02-02 08:10] Haeavar opened #1024 "PublishedNodesJobConverter reads only the first subscription in publishednodes.json"
**Describe the bug**
My publishednodes.json contains two subscriptions to two different OPC UA server. But only the first ony will be subscribed. Is something with my publishednodes.json misconfigured?

This is my publishednodes.json:
[publishednodes.zip](https://github.com/Azure/Industrial-IoT/files/5909695/publishednodes.zip)

This is the logfile:
[publisherlogs.zip](https://github.com/Azure/Ind

[2021-02-02 20:54] jmbrunskill commented on #710
@barnstee any update on when this is likely to be resolved? I see you are using a new repo now for this project?

[2021-02-03 13:49] koepalex commented on #1004
Closed due to inactivity, if main version still not working please reopen

[2021-02-03 13:49] #1004 closed

[2021-02-03 14:27] maalliet opened #1026 "OPC Twin not mapping custom node namespace"
**Describe the bug**
OPC Twin is unable to retrieve nodes that have a custom expanded format encoding namespace

**To Reproduce**
Steps to reproduce the behavior:

While browsing through nodes of an endpoint using the Engineering tool of Industrial IoT platform, I noticed that in my case no node childs are shown for a certain path. In addition, when trying to navigate back to the parent node, I re

[2021-02-05 15:12] barnstee commented on #1006
Have you looked at this section of the docs? https://github.com/Azure/iot-edge-opc-publisher#performance-and-memory-tuning-opc-publisher

[2021-02-06 13:19] marcschier commented on #1026
Does it work when using http://si_main_plc#i=1 instead of http://si_main_plc/#i=1?  Also, could you browse the namespaces node on the server object and let us know the namespaces uri for index 4?

[2021-02-09 08:26] maalliet commented on #1026
Hi,

Browsing to both nodes _http://si_main_plc#i=1_ and _http://si_main_plc/#i=1_ return the _BadNodeIdUnknown_ error message.

I can find the namespace in the NamespaceArray node:

![image](https://user-images.githubusercontent.com/9742401/107334569-29eeb000-6ab7-11eb-9d49-bf658be28400.png)

The Namespace node itself does not contain http://si_main_plc namespace:

![image](https://user-images.gi

[2021-02-09 19:38] geebinge opened #1034 "standard_init_linux.go:211: exec user process caused "exec format error""
the latest version mcr.microsoft.com/iotedge/opc-publisher:latest delivers "standard_init_linux.go:211: exec user process caused "exec format error" in Docker during startup.

Version 2.7.199 runs without problems.

Linux RevPi40645 4.19.95-rt38-v7+ Azure/iot-edge-opc-publisher#1 SMP PREEMPT RT Tue, 16 Jun 2020 13:25:43 +0200 armv7l GNU/Linux
Docker version 3.0.13+azure, build dd360c7c0de8d9132a39

[2021-02-11 10:23] #967 closed

[2021-02-11 10:24] anipuramattom commented on #912
@barnstee , **with reference to the previous issue, after deploying v2.5.4** , after 5-6 weeks, now we are getting below error in opcpublisher

[09:25:46 INF] messages sent to IoTHub: 252650
[09:25:46 INF] last successful msg sent @: 02/10/2021 19:33:04
[09:25:46 INF] bytes sent to IoTHub: 32602899123
[09:25:46 INF] avg msg size: 129043
[09:25:46 INF] msg send failures: 8374
[09:25:46 INF] message

[2021-02-11 11:26] barnstee commented on #912
Reopening and assigning to @varunpuranik to have a look.

[2021-02-11 12:03] achu152 opened #1031 "Error starting SignalR client host - Engineering tool"
Hi ,
we are working on setting up the entire Industrial IIOT package provided by azure 2.7.206 version manually via azure portal due to organization security restriction .However the connection to signalR from engineering tool is failing due to below error . can you please help us in identifying the cause of the error listed here.

##################################################################

[2021-02-11 19:50] barnstee commented on #912
Please send me the support bundle via email.

[2021-02-11 19:54] derSchtefan opened #1032 "Changing publishednodes.json causes LegacyJobOrchestrator to hang or lock up, does not process changes anymore"
**Describe the bug**
When changing the publishednodes.json file in OpcPublisher 2.7.206.36449, the LegacyJobOrchestrator / PublishedNodesJobConverter often hangs after detecting a file change, and will neither change the published nodes, nor will it ever listen/see another file change. No error is ever logged.

This problem comes in two flavours:
- Flavour 1: The file change is noticed, but nothin

[2021-02-12 14:13] dacolgit commented on #1024
Tested with version 2.7.199. The issue does not depend on the number of nodes in each subscription.
Ii only happens when the publisher is executed in the IoT edge context.
the following change fix also this issue:
https://github.com/Azure/Industrial-IoT/commit/3d9d503d665c1171323f4cdff52505fb5cd71c81

[2021-02-17 12:05] gregeva commented on #774
@barnstee Could you please follow up on this with your team? This capability is expected by our joint customer. FYI @chmagitt

[2021-02-17 12:09] barnstee commented on #774
@dacolgit , please have another look, Greg got back to us.

[2021-02-17 19:19] MileBuurmeijer opened #1036 "OPC UA Publisher fails to (re)connect and gives Retry_Expired"
**Describe the bug**
The OPCUA Publsher module fails to recreate the Azure connection. It was good at some point but after configuration changes it failed. Redeploying the IoTEdge did not help.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the OPCUA Module in your IoT Edge device contiainer runtime (running on Linux box)
2. Wait for it to startup
3. Check its log and see what the st

[2021-02-22 20:42] aguywithcode commented on #816
I've been running through the process of getting it up and running. One issue I ran into was that the Disco module did not properly initialize. There are two ways to check if this is the issue:

1. Login to the edge vm (using the username and password provided by the deploy script) and run iotedge list
2. Look at the edge device in the azure portal (it'll be listed under the generated iothub)

Ver

[2021-02-23 05:30] anipuramattom commented on #912
@varunpuranik , @barnstee ,
Is there any update on the issue. We faced similar issue again on another VM

[2021-02-24 15:29] marcschier commented on #1034
The edge container images had a wrong architecture for arm64.  The images were republished to MCR with the correct architecture.  This was verified using `docker run --rm mplatform/mquery mcr.microsoft.com/iotedge/opc-publisher:2.7.206`.

Can you try again?  If this still does not work, please reopen this issue for further investigation.

[2021-02-24 15:29] #1034 closed

[2021-02-25 07:50] logg-sar commented on #1036
@MileBuurmeijer

Hi, have you changed the hostname between installing the packages and running the service?

Seems to be the same Issue like [https://github.com/Azure/iotedge/issues/4466]
I found a workaround - it may help you too.

[2021-02-25 10:07] MatthijsvdVeer opened #1041 "OPC Twin arm64 image not working"
**Describe the bug**
I'm running an arm64 edge device with Azure IoT Edge 1.1.0. When I run the OPC Twin module (version 2.7.183-linux-arm64v8 or version 2.7.199-linux-arm64v8) the module fails with this error:
`standard_init_linux.go:219: exec user process caused: no such file or directory`

A quick search online suggests that this has to do with some line endings in the files included in this im

[2021-02-26 13:14] marcschier commented on #1041
Hi, can you try "mcr.microsoft.com/iotedge/opc-twin:2.7.206"?  Also, assumption is that this is running on a Raspberry Pi, correct?

[2021-02-26 13:19] marcschier commented on #980
Hi - please use version 2.7.206 for the services and OPC Twin/Publisher images.   The device scope issue that causes this behavior was fixed there as well as in master.

[2021-02-26 13:19] #980 closed

[2021-02-26 13:24] MatthijsvdVeer commented on #1041
Hi Marc, that doesn't work, same error. This is not running on a Raspberry Pi, but on a production gateway.

[2021-02-26 13:42] marcschier commented on #529
We are removing this preview feature in 2.8.

[2021-02-26 13:42] #529 closed

[2021-02-26 13:44] marcschier commented on #626
We have removed TSI integration and related services from master branch and thus 2.8.

[2021-02-26 13:44] #626 closed

[2021-02-26 13:45] #910 closed

[2021-02-26 13:47] #373 closed

[2021-02-28 12:19] kbeaugrand opened #1042 "Connectivity for PLC that are not OPC UA"
**Is your feature request related to a problem? Please describe.**
Would like to provide this kind of features for PLC that are not under an OPC UA gateway..

**Describe the solution you'd like**
I'm working in an organization that could not always leverage on OPC Gateway to provide connectivity to theire machines.
They would also not like to retro-fit their plant machines network (due to costs, d

[2021-02-28 16:56] aagamb12 commented on #1042
One thing we have to done to overcome touching, upgrading legacy Automation control systems (DCS, BMS, SCADA etc)) and stanadalone pieces of equipment (PLC &HMI )is to deploy a cheap, non intrusive, agnostic IoTGateway as another listening node in the control systems architecture that can collect tags information directly from the PLCs or controllers (Rockwell, Siemens, Honeywell  etc )and then se

[2021-02-28 17:33] kbeaugrand commented on #1042
Hi @aagamb12,
Thank you for your answer.

I'm looking for some IoT Gateway that could bring us the possibility offered by Azure IoT Hub such:

- Edge Analytics,
- Central configuration of many gateways,
- Custom Edge Module development,
- Custom Data destination (to fullfill security requirements for some cases),
- ...

However I prefered to leverage on only 1 kind of IoT platform to support our c

[2021-03-01 20:17] WilliamBerryiii opened #1043 "Inconsistent reference to $aadConfig variable in ~/deploy/scripts/deploy.ps1"
**Describe the bug**
There is an inconsistent use of the `aadConfig` variable in the `~/deploy/scripts/deploy.ps1`.  While this likely is not causing problems per se, there is possibility for scoping conflicts.

**To Reproduce**
Open `~/deploy/scripts/deploy.ps1`
Review lines 948, 997, 1007, 1008, 1011 & 1018 of the `master` branch, vs use in the 857+ range

**Expected behavior**
Consistent variab

[2021-03-01 21:33] WilliamBerryiii opened #1045 "Empty catch blocks in aad-register.ps1"
**Describe the bug**
There are several empty powershell `catch` blocks in aad-register.ps1 which causes excess troubleshooting friction when registering Azure Industrial IoT applications.

**To Reproduce**
Steps to reproduce the behavior:
See lines 227 and 249 ... when control flow hits these blocks you are not notified of the error condition, script failure, and must begin a manual search for whe

[2021-03-02 15:01] koepalex commented on #1036
Please check, that there is not an second OPC Publisher instance is running with the same connection string, this is what typically cause this issue. For analysis please provide the publishednodes.json and the full log.

[2021-03-02 17:06] WilliamBerryiii opened #1048 "New-ADApplications in aad-register.ps1 can return null"
**Describe the bug**
In `aad-register.ps1` the `New-ADApplications` function can return null if if the `$creds` variable has not been set.  See [this line](https://github.com/Azure/Industrial-IoT/blob/b14ebd3aa3a7464477cfb1499cfa3fabd788310e/deploy/scripts/aad-register.ps1#L230).
This null value is not checked before being piped to `ConvertTo-Json` and the script exits without an insightful warnin

[2021-03-02 17:23] WilliamBerryiii opened #1049 "Azure Active Directory registration instructions could be enhanced."
**Describe the bug**
After attempting [`option 3` of the `Azure Active Directory registration`](https://github.com/Azure/Industrial-IoT/blob/master/docs/deploy/howto-deploy-all-in-one.md#azure-active-directory-registration) instructions in [`howto-deploy-all-in-one.md`](https://github.com/Azure/Industrial-IoT/blob/master/docs/deploy/howto-deploy-all-in-one.md) we found that using a more robust dep

[2021-03-02 23:57] WilliamBerryiii opened #1051 "Feature: Add early check to see if a website with the given application name already exists."
The Azure Industrial IoT deployment is a lengthy process and it would be helpful to have a global unique name check earlier in the deployment script execution.  This check would shorten a failed deployment (due to a non-unique website name) by 5-10 minutes and allow for faster iteration and feedback. Even with a check in place, it would still be possible for a given application name to be register

[2021-03-03 10:51] MatthijsvdVeer opened #1053 "Username/password credential support for OPC Twin?"
**Is your feature request related to a problem? Please describe.**
We're trying to leverage the OPC Twin Edge Module to write values to OPC UA servers. We don't want to deploy the entire IIOT solution, instead, we want to use the edge module in combination with our own platform. The servers in question use username/password security. I can't find any documentation about the support of this scenari

[2021-03-04 15:26] NooraKubati opened #1056 "Signing in process for a deployment takes considerably long"
**Describe the bug**
When trying to deploy version 2.7 on Power Shell, the initial stages are ok but once it gets to 'Signing in...' it sticks for quite a while. The length of time has varied for us from 5mins - 2hours. On average it can take about 20 minutes to sign in. Note: This is just waiting for the sign in window to even appear, before credentials have been entered.

**To Reproduce**
Steps

[2021-03-04 17:24] WilliamBerryiii commented on #1051
Per comment in associated PR. I'm closing this issue for further evaluation.

[2021-03-04 17:24] #1051 closed

[2021-03-04 23:10] derSchtefan commented on #1024
@dacolgit: Was this change already merged into master, and if so, when can we expect a new Docker container on the CR with these fixes?

[2021-03-05 05:58] rajendrayadavgit opened #1057 "is there a way I can get node id in ns index format like ns=1;s=CycleCounter using OPCTwin Browse API"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-05 07:35] derSchtefan commented on #1032
It might relate to issue #1024, associated change 3d9d503,  and a **new** unmerged commit "fix jobs reload issue for standalone mode" 450a518b3e92a8d54af3fa2f652964e87272c59d  by #cristipogacean in branch ompadapter/base

[2021-03-06 09:37] kbeaugrand commented on #1042
Up ?

[2021-03-08 19:03] karok2m commented on #1056
@NooraKubati, can you please pass id (`subscriptionId`) of the subscription that you would like to use or its name (`subscriptionName`) to the script and see if that accelerates it or not ? Please check [this page](https://github.com/Azure/Industrial-IoT/blob/release/2.7.206/docs/deploy/howto-deploy-all-in-one.md#deployment-script-options) for the list of deployment script options.

[2021-03-09 13:25] koepalex commented on #1042
@jehona-m could you follow-up on this request ?

[2021-03-11 07:54] koepalex commented on #1036
@MileBuurmeijer does the issue still exist? If so please add more context like the description of what kind of `configuration changes` (until end of next week).

[2021-03-11 19:30] derSchtefan opened #1059 "publishednodes.json: When OpcAuthenticationUsername is set but OpcAuthenticationPassword is erroneously not, a misleading error message appears"
**Describe the bug**
When OpcAuthenticationUsername is set for an Endpoint in publishednodes.json but OpcAuthenticationPassword is erroneously not (there was a mistake in the key name on our side), a misleading error message appears:

`User/passord token format is not supported`

The message originates in class StackModelsEx methods ToUserIdentityToken and ToStackModel.

**To Reproduce**
Steps to

[2021-03-11 19:41] derSchtefan opened #1060 "publishednodes.json changes, log indicates that nothing has changed and nothing will be done, but system proceeds to process changes"
**Describe the bug**
When the publishednodes.json changes, the message in the log indicates that a file change was detected but the content-hash is equal to last one, and nothing will be done. The system then however continues to correctly process the changes.

`[2021-03-11 19:04:46Z INF Microsoft.Azure.IIoT.OpcUa.Edge.Publisher.Engine.LegacyJobOrchestrator] File /appdata/publishednodes.json has c

[2021-03-12 11:13] NooraKubati commented on #1056
@karok2m, Hi I have just attempted this and the signing in process takes at the very least 5 minutes still. My understanding is that it should be relatively instantaneous so I believe the problem still exists.

[2021-03-12 15:43] nanowireUK opened #1061 "Cannot deploy 2.8.0 with script on bash or Powershell"
**Describe the bug**
A standard deployment of 2.8.0 fails after an hour with the following error. This has been seen indepedently by two users in two completely different environments.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the 2.8.0 release `git clone -b release/2.8.0 https://github.com/Azure/Industrial-IoT`
2. Ensure Az is installed https://docs.microsoft.com/en-us/p

[2021-03-12 16:53] nanowireUK commented on #1061
Issue solved. Release 2.8.0 is in development and not yet released, therefore there are no assets on MCR.

[2021-03-12 16:53] #1061 closed

[2021-03-18 10:11] koepalex commented on #1060
The reason is that there are more then one FileChangedNotification for the modification of one file. The first, changes the hash and will lead to changes and the second (or following) will be ignored. So technical the log message is correct.

[2021-03-18 21:16] apittier opened #1074 "OPCPublisher: is it possible to monitor items on DataChangeTriggerType.StatusValueTimestamp ?"
Hi!

Is it possible to monitor items on DataChangeTriggerType.StatusValueTimestamp ?

From the OPC UA Specification we have that the default behavior is to ["Report a notification if either the StatusCode or the value change. "](https://reference.opcfoundation.org/v104/Core/docs/Part4/7.17.2/) (i.e., _Microsoft.Azure.IIoT.OpcUa.Publisher.Models.DataChangeTriggerType.StatusValue_).

I was wondering

[2021-03-19 17:00] gregeva commented on #774
Any update with this @dacolgit or @barnstee .  Our customer will soon be looking for this, and our dev team is also seeing this issue.

[2021-03-19 20:03] ervoges commented on #774
Adding some additional information about this issue.

Seems like the dataSetWriterID is not getting populated properly for those of us running into this issue.  On a working set-up, in the endpoint JSON on our CosmosDB I see this when I publish:
[code]

However when publishing on a different environment that is not able to get telemetry from all published nodes, I see this:
[code]

Also if I publi

[2021-03-19 20:16] marcschier commented on #1074
Hi @apittier, unfortunately this is not implemented.  We will evaluate it for our backlog.

[2021-03-19 20:22] #1036 closed

[2021-03-19 20:25] apittier commented on #1074
Thanks for answering.

[2021-03-20 06:30] marcschier commented on #774
Hi @gregeva and @ervoges we will look into it.  When you say setup, does this mean aks cluster?  Do you have more clusters connected to the same cosmos db database by chance?  Or just multiple competing clients updating?

[2021-03-20 06:36] marcschier commented on #830
We have no plans to do this at this point.  Contributions are however welcome.

[2021-03-20 06:38] marcschier commented on #472
We are not going to fix this.

[2021-03-20 06:38] #472 closed

[2021-03-20 06:39] #471 closed

[2021-03-20 06:39] #470 closed

[2021-03-20 06:40] marcschier commented on #414
We have removed historic access support.

[2021-03-20 06:40] #414 closed

[2021-03-20 06:42] marcschier commented on #685
#774

[2021-03-20 07:40] marcschier commented on #1074
Keeping on backlog

[2021-03-22 13:32] martin-weber opened #1217 "Show number of current monitored items as part of diagnostic information"
It would be helpful to show in the diagnostic information output:

- The number of currently monitored items
- (Optional) The total number of configured items
- (Optional) The number of configured items that are not monitored due to failure

This would improve the diagnostic when deploying a new configuration. It would male it much easier to check if the new configuration added / removed monitored

[2021-03-22 13:56] ervoges commented on #774
Hi @marcschier , thanks so much for looking into it. So we have one CosmosDB per deployment and one namespace. Most of the namespaces on my team are in the same cluster, but I am not sure where Greg's deployment is. I don't think we have clients competing to update because as far as I know I am the only one using my endpoint and application.

[2021-03-22 14:23] #1006 closed

[2021-03-22 16:28] gregeva commented on #774
My cluster, namespace, documentDB, and opinions are my own. :-)

I've tested and seen this behaviour on the two supported versions that I've worked with; initially 2.7.170 and more recently 2.7.182.  Unlike my cutting edge colleagues, I've yet to make the leap to 2.7.199 or 2.7.206.

[2021-03-22 18:36] wkoschen-at-ptc opened #1077 "deploy.ps1 script needs to be run from within a branch of the Industrial IoT repository"
**Describe the bug**

deploy.ps1 script needs to be run from within a branch of the Industrial IoT repository.

Recently several of our automated deployments started failing.  Upon inspection of the issue the root cause was discovered to be a release branch which was deleted  **(release/2.7.199)**.  We were informed this should be expected and to use the release tag in place of the branch.

This m

[2021-03-23 12:02] marcschier commented on #774
Hi @ervoges, @gregeva, we will look into it.   However, if 2 namespaces (at different version levels) share the same cosmos db collection and documents, then it is possible that you get random behavior with regards to your document contents.   While a sequential upgrade scenario is supported, simultaneous operation of new and old versions on the same database is not.  Also, having more than a sing

[2021-03-23 13:22] ervoges commented on #774
Hi, @marcschier thanks for the info--I think I might have not done the best job explaining our environment, sorry about that!
We all have our own namespaces, with our own resources, with our own CosmosDB. No two resource groups share the same CosmosDB or write to the same documents. No resource groups share any resources. Additionally, at least in my team, we are all on the same version: 2.7.206.

[2021-03-23 15:11] gregeva commented on #774
We've followed the documented approach by Microsoft and PTC.  We're not doing anything crazy here if that is what you are thinking.

[2021-03-23 16:12] karok2m commented on #774
@ervoges, #689 was specifically intended to fix the issue of duplicate `dataSetWriterId`s in the job definition. The fix was included already in `2.7.199` release. Are you still seeing different dataSetWriters being created with the same `dataSetWriterId` with `2.7.206` version ?
Just to clarify this a bit, after the #689 fix, `dataSetWriterId` is generated based on endpoint id and the publishing

[2021-03-23 19:03] karok2m commented on #774
@ervoges, hm, this is quite puzzling. The behavior that you are describing is what I would expect from `2.7.182`. A few questions here:
1. Have you upgraded OPC Publisher edge module itself or also the back-end microservices to `2.7.206` version ? The job definitions are generated by Publisher back-end microservice. So if you have only upgraded the OPC Publisher edge module, then you would still s

[2021-03-23 21:03] ervoges commented on #774
@karok2m I listed the information you asked for below!

1) Yes, I have redeployed a few times just to make certain that I was on the correct version.  Although if there are other things I should check other than my pods and iotedge module please let me know!

2) Here is the result when I run `kubectl get pods` on my namespace:
[code]

3) I am using `https://{{OPC-SERVICEURL}}/publisher/v2/publish/

[2021-03-24 07:53] koepalex commented on #774
@ervoges just to make Sure, did you already tried to delete the Job (which removes the cosmosdb entry) and are able to reproduce with the instance above?

[2021-03-24 13:55] ervoges commented on #774
@koepalex by "delete the job" do you mean have I tried deleting the endpoint so that the endpoint file is gone from CosmosDB or manually unpublishing the node from CosmosDB? (or something else entirely :) )

And yes, I am able to reproduce with the instance I listed yesterday. I reproduced the bug and then copied and pasted the logs from my pods.

[2021-03-24 14:22] karok2m commented on #774
@ervoges, to delete a job you would either unpublish all nodes that are present in it or you can perform `DELETE` on `https://{{OPC-SERVICEURL}}/publisher/v2/jobs/{id}` endpoint to delete a job as a whole. Here the idea is to make sure that there would not be several dataSetWriters (with duplicate `dataSetWriterId`s) within the job definition that would have been created by a version prior to `2.7

[2021-03-24 14:32] ervoges commented on #774
@karok2m Got it--I have already been unpublishing all nodes and republishing many times as I've been testing and working, but I have not tried the API endpoint you just listed so let me see if that does anything different.

[2021-03-24 14:42] ervoges commented on #774
@koepalex @karok2m I deleted the entire job using `https://{{OPC-SERVICEURL}}/publisher/v2/jobs/{id}` and then republished two nodes with different publishing intervals and I still have two dataSetWriters with the same ID.

[2021-03-25 05:27] marcschier commented on #1077
Hi, @wkoschen-at-ptc , best would be for your team to fork (top right button) the Github repo. Clone your fork (copy) and create your desired branches there. For example a release branch on the release tag.  Make sure to name the branch release/{releasetag} for all old 2.7 releases and then run deploy.ps1 from that branch.  Please note that at this point only the releases that have release branche

[2021-03-25 05:27] #1077 closed

[2021-03-26 13:31] ajithkumars commented on #1053
I have the same question, does opc twin not check pn.json or acquire this from publisher?.
How to support this? Also, if certificates are used?

[2021-03-30 10:40] oliverchristen commented on #1024
@Haeavar  Could it be the same problem? https://github.com/Azure/Industrial-IoT/issues/669
This is not released yet. Should be part of v2.8.x for which no ETA is defined yet.

[2021-03-30 13:04] marcschier commented on #992
Hi @PayalDodeja - could you use the latest release 2.7.206 instead and see if the behavior is the same?  There are several fixes in 2.7.206 which relate to publishing configuration, specifically to sampling rate.

[2021-03-30 16:06] oliverchristen opened #1086 "OPCPublisher module: BadMonitoredItemIdInvalid when first OpcNode has a HeartbeatInterval defined"
**Describe the bug**
I run the OPCPublisher in standalone mode with pn.json configuration. When the first OpcNode has a HeartbeatInterval defined because it's value does not change often but shall be sent anyway, the Value is sent as StatusCode `BadMonitoredItemIdInvalid`

[code]

The missing closing curly bracket is on purpose. That's another problem. It's not a valid Json in this case.

When I m

[2021-03-30 17:14] PayalDodeja commented on #992
Hi @marcschier , I checked for the behavior with 2.7.206, it is still the same.  For the publishing interval in the snippet below, I see batch sizes varying between 4 and 5.

_____________________________size 5 ____________________________________________________________________

__________________________________________________size 4_______________________________________________________

[2021-03-30 21:00] dean-azure opened #1087 "Deployment is failing"
**Describe the bug**
I'm attempting to deploy the Industrial IoT resources using the following powershell command :

./deploy.cmd -authTenantId ab621f2f-3117-42c8-b171-XXXXXXXXXXXX -tenantId 10281b4c-6ed7-4b27-983a-XXXXXXXXXXXX -SubscriptionId ac3cefde-9ef5-47b1-b653-XXXXXXXXXXXX -version release/2.7.206 -resourceGroupName deaniot -resourceGroupLocation EastUS2 -applicationName deandeloitteiot

**

[2021-03-31 07:27] #1049 closed

[2021-03-31 07:30] #1045 closed

[2021-03-31 07:30] #1043 closed

[2021-03-31 07:31] koepalex commented on #1048
@WilliamBerryiii can you describe if something is open for your issue, or this issue can be closed?

[2021-03-31 08:20] koepalex commented on #912
@anipuramattom there is a also a version of OPC Publisher as part of Industrial IoT Platform, that can be used as standalone. Which is the currently maintained version `mcr.microsoft.com/iotedge/opc-publisher:2.7.206` in our long-running tests it is running for more than 50 days.

[2021-03-31 15:42] WilliamBerryiii commented on #1048
@koepalex - I believe this can now be resolved. The PR looks to be merged.

[2021-03-31 15:42] #1048 closed

[2021-03-31 15:55] DanielBott commented on #291
I am trying to get the OPC Publisher working on a PI4 with Ubuntu 18.04. After the module is deployed, it does not start and has the following error:
[code]

the main iotedge modules are running:
[code]

in my point of view the iotedge is running very well
[code]
the setup followed https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06

my intallation runs sin

[2021-03-31 16:24] dean-azure commented on #1087
I was finally able to get it to work using the following command.

deploy.cmd -version latest

i realize now I was using the wrong value for the version.   The documentation or the name of this parameter are not very good.

However, It was still failing with the correct value in -version when I specified a the tenant id.

when I specified a tenant i was still getting the error

"A Workbook with th

[2021-04-01 16:40] karok2m commented on #774
@gregeva, @ervoges, just to summarize our findings from today, `2.7.206` version fixes issue with duplicate `dataSetWriterId`s and as a result data from both dataSets is arriving to the cloud. Would you need any additional information regarding this issue ? Or can we close it ?

[2021-04-01 17:14] ervoges commented on #774
@karok2m Thank you so much again for the meeting today. After looking deeper into the issue after the meeting, turns out there were two kubernetes deployments running in two different namespaces pointing to the same service URL. One namespace was running 2.7.206 and the other namespace was running 2.7.170. I did not know the second namespace existed and so when I was checking my pods versions and

[2021-04-01 18:04] DanielBott opened #1088 "OPC Publisher Module on a PI4 "standard_init_linux.go:219: exec user process caused: no such file or directory""
I am trying to get the OPC Publisher working on a PI4 with Ubuntu 18.04. After the module is deployed, it does not start and has the following error:
[code]

the main iotedge modules are running:
[code]

in my point of view the iotedge is running very well
[code]
the setup followed https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06

my intallation runs sin